// ==========================================================================
// MIXINGS
// Definião de todos os @mixings do projeto
// Não remover para não causar crash no SASS
// ==========================================================================

// -----------------------------------------------------------
// JEET
// An alias for the column mixin.
// @param [$args...] - All arguments get passed through to column().
// -----------------------------------------------------------

@mixin col($args...) {
  @include column($args...);
}

// -----------------------------------------------------------
// BEM - https://en.bem.info/method/
// Estruturação do CSS em BEM
// -----------------------------------------------------------

@mixin element($element, $parent: false) {
    @if $parent != false {
      #{$parent}__#{$element} {
        @content;
      }
    } @else {
      &__#{$element} {
        @content;
      }
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin e($element, $parent: false) {
    @include element($element, $parent)  {
        @content;
    }
}

@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}

// -----------------------------------------------------------
// RESPONSIVO
// Regras das Media QUeries para responsivo
// -----------------------------------------------------------

$break-mobile: 568px;
$break-small: 767px;
$break-medium: 1023px;
$break-large: 1280px;

@mixin respond-to($media) {

  @if $media == xs {
    @media only screen and (min-width: $break-mobile) { @content; }
  }

  @else if $media == sm {
    @media only screen and (min-width: $break-small) { @content; }
  }

  @else if $media == md {
    @media only screen and (min-width: $break-medium) { @content; }
  }

  @else if $media == lg{
    @media only screen and ( min-width: $break-large){ @content; }
  }
}

@mixin mobile(){
  @include respond-to(xs){
    @content;
  }
}

@mixin tablet(){
  @include respond-to(sm){
    @content;
  }
}

@mixin desktop(){
  @include respond-to(md){
    @content;
  }
}

// @mixi widescreen(){
//   @include respond-to(lg){
//     @content;
//   }
// }


//Exibir Itens por Resolução
@mixin view($args...) {

  display: none;
  @include showdiv($args);

}

@mixin showdiv($args) {
  @each $view in $args {

      @if $view == xs {
          @media only screen and (max-width: $break-small) { display: block; }
      }

      @if $view == sm {
          @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { display: block; }
      }

      @if $view == md {
          @media only screen and (min-width: $break-medium) and (max-width: $break-large) { display: block; }
      }

      @if $view == lg{
          @media only screen and ( min-width: $break-large + 1) { display: block; }
      }
  }
}

// -----------------------------------------------------------
// Mix's Padrão
// Conjunto de Mixings padrão do projeto
// -----------------------------------------------------------

//FontAwesome
@mixin icone($icone){
  @extend .fa;
  content: $icone;
}

//Borderline
@mixin borderline($cor:$cor-primaria, $w:80%, $h:2px, $t:0, $l:0, $center:false){
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background: $cor;
        width: $w;
        height: $h;
        left: $l;
        top: $t;

        @if $center == false {
          transform: inherit $i;
        }

        @if $center == true {
          transform: translateX(-50%);
        }

    }
}

// Width & Height
@mixin size($w,$h:$w) { width: $w; height: $h;}

// Fonts
@mixin fonts($bold: 400, $size: 12, $font: $font-default) {
  font: $bold rem($size) $font;
}

@mixin typography($bold: 400, $size: 12, $font: $font-default, $color: #868686, $txt-t: none){
  @include fonts($bold, $size, $font);
  text-transform: $txt-t;
  color: $color;
}


// Prefixos
@mixin prefix($property, $value, $prefixes:(webkit ms moz o)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  } // Output standard non-prefixed declaration

  #{$property}: $value;
}

//Titulos
@mixin titles($weight:800, $size:40, $color:$cor-titulos){
    @include fonts($weight, $size);
    color: $color;
    margin: 0;
    padding: rem(20) 0;

    a {
      color: inherit;

      &:hover {
        color: darken($color, 10%);
      }
    }
}

//Border Radius
@mixin radius($borda) {
   border-radius: $borda;
}

// Mask Topo
@mixin mask( $opacidade: .7, $bg: $black) {
  &:before{
    @include size(100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    //background-color: rgba($bg, $opacidade);
  }
}


// Transição BG
@mixin transition($t) {
  @include prefix(transition, background $t ease-in-out);
}

// Placeholder
@mixin placeholder-text {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// Image Replace
@mixin imgRep(){
  text-indent: -9999px;
  overflow: hidden;
}

//Btn Modificador
@mixin btnmod($modificador, $cor, $cor-hover:$cor) {
    @include m($modificador){
        background-color: $cor;

      &:hover{
          background-color: darken($cor-hover, 30%);
      }
    }
}

@mixin btn($type: 'big', $bg: $cor-primaria, $cor: $white, $invert-hover: false){
  @extend %transitionAll;
  @include typography($bold: 600, $size: 15, $font: $font-default, $color: $cor, $txt-t: uppercase);
  display: inline-flex;
  background-color: $bg;
  border: 0;

  @if $type == 'big' {
    padding: rem(20) rem(20);

    @include respond-to(sm){
      padding: rem(20) rem(55);
    }
  }

  @if $type == 'small' {
    padding: rem(10) rem(30);
    font-size: rem(14);
  }

  @if $type == 'medium' {
    padding: rem(12) rem(30);
    font-size: rem(15);
  }

  @if $invert-hover == true {
    &:hover {
      background-color: $cor;
      color: $bg;
    }
  } @else {
    &:hover {
      background-color: darken($bg, 5%);
    }
  }
}

@mixin btn-t($type: 'big', $bg: $white, $border: $white){
  @extend %transitionAll;
  @include typography($bold: 900, $size: 14, $color: $white, $txt-t: uppercase);
  display: inline-flex;
  background-color: rgba($bg, .2);
  border: 2px solid rgba($border, .5);
  letter-spacing: rem(1.2);

  @if $type == 'big' {
    padding: rem(20) rem(10);

    @include respond-to(sm){
      padding: rem(18) rem(55);
    }
  }

  @if $type == 'small' {
    padding: rem(10) rem(30);
    font-size: rem(14);
  }

  @if $type == 'medium' {
    padding: rem(12) rem(30);
    font-size: rem(15);
  }

  &:hover {
    background-color: $bg;
    border-color: $border;
    color: #5e5e5e;
  }

  &:active {
    transform: scale(.99);
  }
}

@mixin seta($size: 15px, $sizeBorder: 1px, $colorBorder: $white, $bg: red){

  .owl-prev,
  .owl-next {
    @extend %transitionAll;
    @include size( ($size * 2) + 20);
    @include centerFlex();
    background-color: $bg;

    &:after {
      @include size($size);
      content: '';
      transform: rotate(45deg);
      z-index: 9;
      margin-right: -($size/2);

      border-left: $sizeBorder solid $colorBorder;
      border-bottom: $sizeBorder solid $colorBorder;
    }

    &:hover {
      background-color: darken($bg, 3%);
    }
  }

  .owl-next {

    &:after {
      margin-left: -($size/2);
      margin-right: 0;
      transform: rotate(-135deg);
    }
  }
}

@mixin setaOwl($size: 30px, $sizeBorder: 3px, $colorBorder: $white, $bgPass: $white, $t: true, $radius: true){
  .owl-next,
  .owl-prev {
    @extend %transitionAll;
    @include size( ($size * 2) + 10);

    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 9;
    border: 1px solid $t;

    @if $radius == true {
      border-radius: 50%;
    }

    @if $t == false {
      background-color: $bgPass;
    }

    &:hover {
      @if $t == true {
        background-color: rgba($bgPass, .2);
      } @else {
        background-color: $bgPass;
      }
    }

    &:focus {
      @if $t == true {
        border-color: rgba($colorBorder, .8);
      } @else {
        border-color: $colorBorder;
      }
    }

    &:active {
      transform: scale(.93) translateY(-50%);
    }

    @include centerFlex();

    &:after {
      @include size($size);
      content: '';
      transform: rotate(45deg);
      z-index: 9;
      margin-right: -($size/2);

      border-left: $sizeBorder solid $colorBorder;
      border-bottom: $sizeBorder solid $colorBorder;
    }
  }

  .owl-next {
    left: auto;
    right: 10%;

    &:after {
      margin-left: -($size/2);
      margin-right: 0;
      transform: rotate(-135deg);
    }
  }
}

@mixin circle($size, $bg: $white){
    @include size($size);
    border-radius: 50%;
    background-color: $white;
}