//==========================================================================
// PLACEHOLDER'S
//==========================================================================
%animabg  { @include transition(.28s); }

// Fluxos de Página
 %d-table {
    display: table;
    width: 100%;
}

%displayBlock{
	display: block;
}

%displayInline{
	display: inline-block;
}

%displayNone{
	display: none;
}

%dFlex {
    display: flex;
}

%dFlexInline {
    display: inline-flex;
}

%boxFull {
	@extend %floatLeft;
	width: 100%;
}

%floatLeft{
	float: left;
}

%floatRight{
	float: right;
}

// Center Block
%centerBlock{
	display: block;
	margin: {
		right: auto;
		left: auto;
	}
}

// Center Position
%centerPositionAll{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//Animação Hover IMG-BG
%imgFit {
    img {
        object-fit: cover;
        min-height: 100%;
        height: 100%;
        width: 100%;
        transition: all .5s ease-in-out;
        transform: scale(1);
        position: absolute;
        will-change: transform;
    }
}

%animaHover {
    @extend %imgFit;
    &:hover {
        img {
            transition: all .5s ease-in-out;
            transform: scale(1.2);
        }
    }
}

%resetHover {
    &:hover {
        img {
            transform: scale(1);
        }
    }
}

// Transition All
%transitionAll{
	@include prefix(transition, all .2s);
}

// Image Replace sem Altura e largura
%textIndentFull{
	text-indent: -9999px;
}

// Transform Uppercase
%textTransformU{
	text-transform: uppercase;
}

// Image Propocional
%imgProp{
	@include size(100%, auto);
}

// Transition
%transitionAll {
    transition: all .2s ease-in-out;
}


// TITULOS

%tit-serv-dif {
    @include typography($bold: 700, $size: 24, $color: #787878);
    margin: 0 0 rem(15);
}

%tit-p-default {
    @include typography($size: 15, $color: #868686);
}

%tit-slide-big {
    @include typography($bold: 700, $size: 20, $color: $white, $txt-t: $u);
    margin: 0;
    line-height: 1.3;
    letter-spacing: rem(1);
    position: relative;

    @include respond-to(sm){
      font-size: rem(16);
    }

    @include respond-to(md){
      font-size: rem(23);
    }

    &:after {
        @extend %centerBlock;
        content: '';
        border-bottom: 3px solid $white;
        margin-top: rem(20);
        max-width: 170px;
    }
}

// setas

%owl-setas {
    .owl-prev,
    .owl-next {
      @extend %transitionAll;
      @include size(20px);
      content: '';
      border-right: 2px solid #cac8c8;
      border-bottom: 2px solid #cac8c8;

      position: absolute;
      top: 50%;
      z-index: 9;

      &:hover {
        border-color: $black;
      }
    }

    .owl-prev {
      left: -3%;
      transform: translateY(-50%) rotate(135deg);
    }

    .owl-next {
      left: auto;
      right: -3%;
      transform: translateY(-50%) rotate(-45deg);
    }
}