//==========================================================================
// RESET / RESET GLOBAL DEFAULT
//==========================================================================

*,
*:after,
*::before {	
	box-sizing: border-box;
}

// *:focus {
// 	outline: none;
// }

html,
body {
	font-size: 16px;
	min-width: 240px;
	overflow-x: hidden;
}

body {
	@include fonts(400, 18);
}

// Ul
ul{
	list-style-type: none;
	padding: 0;
}

// Link
a {text-decoration: none;}

.img-full{
	@extend %imgProp;
}

.img-resp {
	max-width: 100%;
	height: auto;
}

.img-radius{
	border-radius: $border-radius;
}

.img-circle{
	@extend %imgProp;
	border-radius: $border-radius;
}

.error{
	border: 1px solid $erro $i;
}

label.error{
	display: none $i;
}

.box-gray {
	width: 100%;
	display: table;
	background-color: #f6f6f6;
}