// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$aspas-name: 'aspas';
$aspas-x: 958px;
$aspas-y: 208px;
$aspas-offset-x: -958px;
$aspas-offset-y: -208px;
$aspas-width: 59px;
$aspas-height: 42px;
$aspas-total-width: 1150px;
$aspas-total-height: 528px;
$aspas-image: '../images/sprite.png';
$aspas: (958px, 208px, -958px, -208px, 59px, 42px, 1150px, 528px, '../images/sprite.png', 'aspas', );
$favicon-name: 'favicon';
$favicon-x: 958px;
$favicon-y: 260px;
$favicon-offset-x: -958px;
$favicon-offset-y: -260px;
$favicon-width: 16px;
$favicon-height: 16px;
$favicon-total-width: 1150px;
$favicon-total-height: 528px;
$favicon-image: '../images/sprite.png';
$favicon: (958px, 260px, -958px, -260px, 16px, 16px, 1150px, 528px, '../images/sprite.png', 'favicon', );
$ico-building-name: 'ico-building';
$ico-building-x: 538px;
$ico-building-y: 333px;
$ico-building-offset-x: -538px;
$ico-building-offset-y: -333px;
$ico-building-width: 41px;
$ico-building-height: 37px;
$ico-building-total-width: 1150px;
$ico-building-total-height: 528px;
$ico-building-image: '../images/sprite.png';
$ico-building: (538px, 333px, -538px, -333px, 41px, 37px, 1150px, 528px, '../images/sprite.png', 'ico-building', );
$icon-brasil-name: 'icon-brasil';
$icon-brasil-x: 1027px;
$icon-brasil-y: 208px;
$icon-brasil-offset-x: -1027px;
$icon-brasil-offset-y: -208px;
$icon-brasil-width: 39px;
$icon-brasil-height: 39px;
$icon-brasil-total-width: 1150px;
$icon-brasil-total-height: 528px;
$icon-brasil-image: '../images/sprite.png';
$icon-brasil: (1027px, 208px, -1027px, -208px, 39px, 39px, 1150px, 528px, '../images/sprite.png', 'icon-brasil', );
$icon-empreendimento-name: 'icon-empreendimento';
$icon-empreendimento-x: 538px;
$icon-empreendimento-y: 208px;
$icon-empreendimento-offset-x: -538px;
$icon-empreendimento-offset-y: -208px;
$icon-empreendimento-width: 126px;
$icon-empreendimento-height: 115px;
$icon-empreendimento-total-width: 1150px;
$icon-empreendimento-total-height: 528px;
$icon-empreendimento-image: '../images/sprite.png';
$icon-empreendimento: (538px, 208px, -538px, -208px, 126px, 115px, 1150px, 528px, '../images/sprite.png', 'icon-empreendimento', );
$icon-eua-name: 'icon-eua';
$icon-eua-x: 1076px;
$icon-eua-y: 208px;
$icon-eua-offset-x: -1076px;
$icon-eua-offset-y: -208px;
$icon-eua-width: 39px;
$icon-eua-height: 39px;
$icon-eua-total-width: 1150px;
$icon-eua-total-height: 528px;
$icon-eua-image: '../images/sprite.png';
$icon-eua: (1076px, 208px, -1076px, -208px, 39px, 39px, 1150px, 528px, '../images/sprite.png', 'icon-eua', );
$logo-email-name: 'logo-email';
$logo-email-x: 538px;
$logo-email-y: 0px;
$logo-email-offset-x: -538px;
$logo-email-offset-y: 0px;
$logo-email-width: 612px;
$logo-email-height: 198px;
$logo-email-total-width: 1150px;
$logo-email-total-height: 528px;
$logo-email-image: '../images/sprite.png';
$logo-email: (538px, 0px, -538px, 0px, 612px, 198px, 1150px, 528px, '../images/sprite.png', 'logo-email', );
$logo-rdp-name: 'logo-rdp';
$logo-rdp-x: 820px;
$logo-rdp-y: 208px;
$logo-rdp-offset-x: -820px;
$logo-rdp-offset-y: -208px;
$logo-rdp-width: 128px;
$logo-rdp-height: 76px;
$logo-rdp-total-width: 1150px;
$logo-rdp-total-height: 528px;
$logo-rdp-image: '../images/sprite.png';
$logo-rdp: (820px, 208px, -820px, -208px, 128px, 76px, 1150px, 528px, '../images/sprite.png', 'logo-rdp', );
$logo-name: 'logo';
$logo-x: 674px;
$logo-y: 208px;
$logo-offset-x: -674px;
$logo-offset-y: -208px;
$logo-width: 136px;
$logo-height: 81px;
$logo-total-width: 1150px;
$logo-total-height: 528px;
$logo-image: '../images/sprite.png';
$logo: (674px, 208px, -674px, -208px, 136px, 81px, 1150px, 528px, '../images/sprite.png', 'logo', );
$pattern-name: 'pattern';
$pattern-x: 1125px;
$pattern-y: 208px;
$pattern-offset-x: -1125px;
$pattern-offset-y: -208px;
$pattern-width: 12px;
$pattern-height: 24px;
$pattern-total-width: 1150px;
$pattern-total-height: 528px;
$pattern-image: '../images/sprite.png';
$pattern: (1125px, 208px, -1125px, -208px, 12px, 24px, 1150px, 528px, '../images/sprite.png', 'pattern', );
$popup-cariri-name: 'popup-cariri';
$popup-cariri-x: 0px;
$popup-cariri-y: 0px;
$popup-cariri-offset-x: 0px;
$popup-cariri-offset-y: 0px;
$popup-cariri-width: 528px;
$popup-cariri-height: 528px;
$popup-cariri-total-width: 1150px;
$popup-cariri-total-height: 528px;
$popup-cariri-image: '../images/sprite.png';
$popup-cariri: (0px, 0px, 0px, 0px, 528px, 528px, 1150px, 528px, '../images/sprite.png', 'popup-cariri', );
$spritesheet-width: 1150px;
$spritesheet-height: 528px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($aspas, $favicon, $ico-building, $icon-brasil, $icon-empreendimento, $icon-eua, $logo-email, $logo-rdp, $logo, $pattern, $popup-cariri, );
$spritesheet: (1150px, 528px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
