/*!
 * Copyright: 2017 Convertte - http://www.convertte.com.br.
 * Desenvolvedores: Allef Bruno
 */
//==========================================================================
// PREFIX VAR
//==========================================================================
$prefix: "wr";

//==========================================================================
// CONFIGURAÇÕES
// Importar classes Configurações do SASS: Mixings, Placeholder e Módulos
//==========================================================================

@charset "UTF-8";
@import 'config';




//==========================================================================
// MODULOS
//==========================================================================

@if($btns=='true') {
    @include buttons;
}

// @if($forms      == 'true') {}
// @if($wpress     == 'true') {}
// @if($videores   == 'true') {}

//==========================================================================
// SECTIONS
// Importar classes CSS das seções do site
// Ex: @import 'sections/topo';
//==========================================================================

//GERAL
@import 'modulos/geral';

//HEADER
@import 'sections/header';
@import 'sections/menu';

//MODULOS
@import 'sections/slides';
@import 'sections/barra-top';
@import 'sections/destaques';
@import 'sections/infos-geral';
@import 'sections/abas';

@import 'sections/cta';
@import 'sections/cta-corretor';
@import 'sections/cta-download';
@import 'sections/cta-resp';

@import 'sections/noticia';
@import 'sections/avulsos';
@import 'sections/newsletter';

// PAGES
@import 'pages/institucional';
@import 'pages/responsabilidade';
@import 'pages/fornecedores';
@import 'pages/empreendimento-interno';
@import 'pages/contato';
@import 'pages/trabalhe-conosco';
@import 'pages/area-cliente';
@import 'pages/portfolio';
@import 'pages/emp-new';

// RODAPE
@import 'sections/footer';

//==========================================================================
// VENDORS
// Importa classes dos VENDORS do site como Modal, OWL e Touch Touch
//==========================================================================
@import 'vendor/index';




.#{$prefix}-float-chat {
    display: flex;
    flex-direction: row;
    width: 400px;
    position: fixed;
    bottom: 30px;
    right: 100px;
    justify-content: flex-end;
    z-index: 999998;
    transition: bottom .6s ease-in;




    &.onView {
        bottom: -400px;
        transition: bottom .5s ease-in;
    }


    .text-wrap {
        display: flex;
        width: 50%;
        flex-direction: column;
        background-color: #ddd;
        padding: 10px;
        position: relative;
        margin-right: 20px;
        box-shadow: 1px 1px 20px rgba($pretoC, 0.2);

        &:before {
            content: '';
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: -20px;
            width: 0px;
            height: 0px;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #ddd;
        }

        .titulo {
            margin-bottom: 10px;
            color: $pretoC;
            font-weight: 500;
            font-size: rem(18);
        }

        .subtit {
            color: $cinza1;
            font-size: rem(14);
        }

        p {
            padding: 0;
            margin: 0;
        }
    }

    .icon-wrap {
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: space-around;

        a {
            width: 40px;
            height: 40px;
            position: relative;
            display: flex;
        }

        .wpp,
        .chat {
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(../images/chat-icon/whatsapp.svg);
                background-size: contain;
            }
        }

        .chat {
            &:before {
                background-image: url(../images/chat-icon/chat.svg);
            }
        }

    }
}
