@keyframes fadeOutCustom {
  from {
    opacity: 1;
    z-index: 99999;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

.fadeOutCustom {
  -webkit-animation-name: fadeOutCustom;
  animation-name: fadeOutCustom;
}