@keyframes fadeOutPosition {
  from {
    opacity: 1;
    position: fixed;
  }

  to {
    opacity: 1;
    position: relative;
  }
}

.fadeOutPosition {
  -webkit-animation-name: fadeOutPosition;
  animation-name: fadeOutPosition;
}