.#{$prefix}-btn {
  background-color: $vermelho;
  border: 2px solid $vermelho;
  padding: 15px 20px;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;

  &::after {
    content: '\0045';
    @extend .icon-glyphter;
    margin-left: 5px;
  }

  @include m('black') {
    color: #000;
    border: 2px solid #000;
    background-color: transparent;
  }

  @include m('white-tab') {
    background-color: #fff;
    color: $cinza1;
    border: none;
    text-align: center;

    &::after {
      display: none;
    }

    &.active {
      background-color: $vermelho;
      color: #fff;
    }
  }

  @include m('line') {
    background-color: transparent;
    color: $vermelho;
  }

  @include m('download') {
    &::after {
      content: '\004a';
      @extend .icon-glyphter;
    }
  }

  @include m('popup') {

    background-color: #fff;
    margin-top: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;



  }
}

// Primary mixin
@mixin buttons {

  .btn {
    @extend %transitionAll;
    @include button($cor-primaria);
    border: 2px solid $cor-primaria;
    position: relative;
    top: 0;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      color: darken($cor-primaria, 10%);
      transition: all .2s ease-in-out;
    }

    &--pri {
      @include button($white, $cor-primaria, true);
    }

    &--gold {
      @include button($white, $cor-secundaria);
      border: 0;
    }

    &--white {
      @include button($cor-primaria, $white);
      border: 0;
    }

    &--blue {
      @include button($white, blue);
      border: 0;
    }
  }
}

// Button mixin
@mixin button($text-color, $bg-color: $t, $big: false) {
  @include color-button($text-color, $bg-color);
  padding: rem(10) rem(18);

  &:hover,
  &:focus {
    transition: all .2s ease-in-out;
    @include color-button($text-color, lighten($bg-color, 10%));
  }

  &:active {
    background: darken($bg-color, 5%);
  }

  @if $big==true {
    @include typography($bold: 700, $size: 18, $color: $text-color, $txt-t: $u);
    border: 0;
    padding: rem(20) rem(50);
    letter-spacing: rem(1);
  }
}

// Color button mixin
@mixin color-button($text-color, $bg-color) {
  background: $bg-color;
  color: $text-color;
}