.breadcrumbs {
    @include view(md,lg);
    @extend %boxFull;
    background-color: darken($cor-extra, 2%);
    min-height: rem(40);

    //FUNCTION BREADCRUMBS
    @include e('item') {
        color: lighten($cor-titulos, 15%);
        display: inline-block;
        font-weight: 300;
        margin-right: rem(5);
        line-height: 40px;
        padding-right: rem(15);
    }

    @include e('link'){
        color: $cor-titulos;
        padding-right: rem(15);
        position: relative;

        &:after {
            @include icone($fa-var-angle-right);
            left: 95%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    //YOAST
    span {
        color: lighten($cor-titulos, 15%);
        display: inline-block;
        font-weight: 300;
        margin-right: rem(5);
        line-height: 40px;
        padding-right: rem(15);

        > a {
            margin-right: 12px;
        }
    }

    a {
        color: $cor-titulos;
        padding-right: rem(15);
        position: relative;

        &:after {
            @include icone($fa-var-angle-right);
            left: 95%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}