@mixin centerFlex($flex: flex){
	display: $flex;
	align-items: center;
	justify-content: center;
}

@mixin centerFlexVertical($flex: flex){
	display: $flex;
	align-items: center;
}

@mixin fd($direction: column){
	flex-direction: $direction;
}

@mixin flexReset($grow: 0, $shrink: 0, $basis: auto){
	flex: $grow $shrink auto;
}

@mixin levelItem() {
	@include centerFlex();
	@include flexReset();

	&:not(:last-child) {
    	margin-bottom: 0.75rem;
    }
}

@mixin levelLeft(){
	align-items: center;
	justify-content: flex-start;
}

@mixin levelRight(){
	align-items: center;
	justify-content: flex-end;
}
