@import 'modulos/wpcf7';

.form {
	$self: &;
	@extend %dFlex;
	@include fd();
	margin: rem(10) 0 0;

	// @include m('col-5'){
	// 	max-width: 800px;
	// 	margin-right: auto;
	// 	margin-left: auto;
	// }

    @include e('input'){
    	@extend %dFlex;
    	@include typography($size: 15);
    	width: 100%;
    	padding: rem(8) rem(10);
    	border: 0;
    	margin-right: rem(15);

    	&:last-child(){
    		margin: 0;
    	}

    	& ~ & {
    		margin-top: rem(6);
    	}

		@include m('hidden'){
			display: none $i;
		}

		@include m('show'){
			display: block $i;
		}

		@include m('small'){
			background: transparent $i;
		    padding: 4px $i;
		    font-weight: bold;
		    margin: 20px 0;
		}

		@include m('enviar'){
			display: flex;
    		justify-content: center;
		}
		@include m('popup'){
			border: 1px solid #ccc$i;
			margin-bottom: 10px$i;
			height:50px$i;
		}
		@include m('textarea'){
			resize: none;
		}

    	@include m('submit'){
			@extend %transitionAll;
			background-color: $cor-primaria;
			color: $white;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				opacity: .9;
			}
		}
    }

	span.wpcf7-not-valid-tip {
		position: absolute;
		top: 0;
		right: 5px;
		background-color: $erro;
		color: $white;
		font-size: rem(10);
		padding: rem(5) rem(10);
		margin-top: -13px;
		border-radius: 3px;

		display: none $i;
	}

	@include e('alert'){
		font-size: rem(14);
		color: #7c7c7c;
		padding-right: rem(15);
	}

	@include e('action'){
		@extend %dFlex;
		align-items: center;
		justify-content: space-between;
		margin-top: rem(10);
	}

    @include e('btn'){
    	@include btn('small');

		@include m('line'){
			font-size: rem(12);
			text-transform: none;
			background-color: $t;
			padding: 0;

			&:hover {
				background-color: $t;
				text-decoration: underline;
			}
		}
    }

	// COLUNA 5
    @include m('col-5'){
    	max-width: 800px;
		margin-right: auto;
		margin-left: auto;

    	p {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			margin-top: 0;
			margin-bottom: 0;

			@include respond-to(sm){
				flex-direction: row;
			}
		}

		.wpcf7-form-control-wrap {
			margin-bottom: rem(10);

			@include respond-to(sm){
				&:not(:last-child){
					margin-right: rem(15);
				}
			}
		}

		span.ajax-loader {
			position: relative;
			@include size(16px);
			margin-left: -45px;
		    flex: none;
		    z-index: 9;
		}

		.form__input {
			width: 100%;
			color: $white;
			background-color: #535353;
			margin-top: 0;
			padding: rem(13) rem(18);
			display: block;

			@include placeholder-text{
				color: rgba($white, .7);
			}
		}

		.form__input--submit {
			width: auto;
			padding-right: rem(60);
			padding-left: rem(60);
		}
	}

	@include m('row'){
		p { flex-direction: column; }

		.wpcf7-form-control-wrap {
			margin-bottom: rem(10);
		}

		span.ajax-loader {
			margin: rem(15) 0 0;
		}

		.form__input--submit {
			margin-right: 0;
		}
	}

    @include m('big'){

    	p { margin: 0; }

    	h3 {
    		margin-top: 0;
    		color: $cor-primaria;
    	}

		@include e('input', $self) {
			display: block;
			background-color: #eee;
			padding: rem(25);
			margin-bottom: rem(10);

			@include placeholder-text{
				color: rgba(#7c7c7c, .7);
			}

			@include m('textarea'){
				min-height: 175px;
				resize: none;
			}

			@include m('submit'){
				background-color: $cor-primaria;
				padding: rem(15) rem(60);
				margin: 0;
				max-width: 225px;
			}
		}
    }

    @include m('login'){
    	@extend %transitionAll;
    	position: absolute;

    	@include respond-to(md){
    		top: 62px;
    	}

    	left: 0;
		background-color: $cor-primaria;
		padding: rem(30);
		margin: 0;
		opacity: 0;
    	z-index: -1;


		&.is-active {

            left: 5%;
            width: 90%;
			top: 193px;
			opacity: 1;
			z-index: 99;

            @include respond-to(sm){
                margin: 0;
                left: 49.9%;
                transform: translateX(-50%);
                max-width: rem(300);
            }

            @include respond-to(md){
                top: 52px;
                margin: 0;
                left: 0;
                width: inherit;
                transform: translateX(0);
                // margin: 0 27px;
            }
		}

		@include e('input', $self){
			@include m('btn'){
				@extend %transitionAll;
				display: block;
				align-items: center;
				color: $white;
				text-align: center;
				background-color: #9d0a0e;

				&:hover {
					background-color: darken(#9d0a0e, 5%);
				}
			}
		}
    }
}

//CF7
.wpcf7{
	@extend %boxFull;
}

.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item {
    display: inline-block;
    margin: 0 1em 0 0 $i;
    color: rgba($black, .45);
}

div.wpcf7-response-output {
	@include fonts(400, 15);
	text-align: center;
	padding: rem(15);
	margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.wpcf7-mail-sent-ok {
	color: #fff;
    background-color: #2c8e03;
    border-color: #d6e9c6;
}

div.wpcf7-mail-sent-ng {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

div.wpcf7-spam-blocked {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.wpcf7-validation-errors {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.wpcf7-form {
	.form-msg{
		@include fonts(normal, 18, $font-default);
		padding: rem(16);
		border-radius: $border-radius;
		text-align: center;
		color: $white;
		display: block;
		margin-bottom: 15px;
		display: none;
	}

	&.invalid {
		.form-msg--erro {
			background-color: $erro ;
			display: block;
		}
	}

	&.sent {
		.form-msg--sucesso {
			display: block;
			background-color: $sucesso ;
		}
	}

	.wpcf7-not-valid{
		border: 1px solid $erro;
	}

    .send {
        @extend %boxFull;
        text-align: center;

        input {
            background-color: $cor-primaria $i;
            color: $white $i;
            margin-top: 20px;
            padding: 15px  $i;
            text-transform: uppercase;
            max-width: 280px;
        }
    }
}

// span.wpcf7-not-valid-tip,
// .wpcf7-response-output {
//     display: none !important;
// }

.select {
	font-size: rem(14);
	padding: rem(7) rem(10);
	border: 1px solid rgba(#48515a, .23);
	color: #868686;
}

$input-borderColor: #ccc;
$color-primary: green;

/**
 * Custom file input
 */
.form-input--file {
	@include typography($size: 15);
	width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	display: flex;
	align-items: stretch;
	justify-content: space-between $i;

	background-color: #eee;
	padding-left: rem(25);
	margin: 0 0 rem(10);

	.arquivo {
		display: none;
	}
}

.form-input--file-text {
	@include centerFlexVertical();
	color: rgba(#7c7c7c, .7);
}

.form-input-file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.form-input--file-button {
	cursor: pointer;
	display: inline-flex;
	padding: rem(25);
	background-color: #5e5e5e;
	color: $white;
	text-transform: $u;

	&:hover {
		background-color: rgba(#5e5e5e, .8);
	}
}

.wpcf7-form-control-wrap {
    width: 100%;
	display: block;

	&.endereco {
		margin-top: 0;

		input {
			margin-right: 0;
		}
	}
}

.msg {
	@include fonts(400, 16);
	display: block;
	width: 100%;
	text-align: center;
}


#popup-orange{
	padding: 20px 20px 0;
	
	.wpcf7-form-control-wrap{
		margin-bottom: 20px;
	}

	p{
		margin: 0;
	}
	.form__input--enviar{
		height: 50px;
		margin-top: 20px;
	}

	.wpcf7-not-valid-tip{
		font-size:13px$i;
	}
	.wpcf7-validation-errors{
		margin-bottom: 20px$i;
	}

	.msg-form{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
    	top: -29px;
    	right: 0;
	}
}
.title-modal{
	font-size: 26px;
    color: $vermelho;
    margin: 10px 0 30px;
}

.popup-modal-dismiss{
	color: #9a9a9a$i;
	width: 100%;
	font-size: 13px$i;
    text-decoration: underline;
    margin-bottom: 30px;
    text-align: center;
}

.close-btn{
	b{
		background: $vermelho$i;
    	padding: 7px 13px;
    	color: #fff$i;
    	margin-left: 10px;
	}
}