.mr-t-z {
	margin-top: 0 $i;
}

.tit-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	@include respond-to(md){
		flex-direction: inherit;
	}

	& ~ .emp {

	    margin-top: 20px;
		margin-bottom: 20px;

		@include respond-to(sm){
			margin-top: rem(60);
			margin-bottom: 0;
		}
	}
}

.tit-border {
	@include typography($bold: 700, $size: 24, $color: #3c3d41, $txt-t: $u);
	margin: 0;
	line-height: 1;
	letter-spacing: rem(.4);
	position: relative;
	border-left: rem(3) solid $cor-primaria;
	padding-left: rem(10);

	@include m('peq-branco'){
		font-size: rem(16);
		font-weight: 500;
		color: $white;
		margin-bottom: rem(15);

		&:after {
			width: 60px;
			border-bottom-width: 2px;
		}
	}
}

.header-tit {
	$self: &;
	@include centerFlex();
	margin: rem(60) 0;

	@include e('desc'){
		@include typography($bold: 400, $size: 16, $color: #767676);
		letter-spacing: rem(.7);
		line-height: 1.2;
		margin-top: rem(30);

		p { margin: 0; }
	}

	@include m('small'){
		margin-top: rem(30);
		margin-bottom: rem(30);
	}

	@include m('small'){
		margin-top: rem(50);
		margin-bottom: rem(50);
	}

	@include m('pages'){
		flex-direction: column;
		text-align: center;
		padding: rem(10);

		@include e('desc', $self){
			max-width: 800px;
		}
	}
}

.login {
	@include e('msg') {
		color: #fff;
		display: none;
		font-size: 12px;
	    left: 0;
		margin-bottom: 5px;
		padding: 5px;
	    position: absolute;
		text-align: center;
	    top: 100%;
	    z-index: 9;
	    width: 100%;

		@include m('sucesso') {
			background: #75a43e;
			display: block;
		}

		@include m('erro') {
			background: #000;
			display: block;
		}
	}

	@include e('load'){
		display: none;

		@include m('on'){
			display: inline-block;
		}
	}
}

//PAGNAV
.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
