@mixin grids($div) {
	.#{$div} {
	    @include grid;
	}
}

@mixin grid {
	@include center(90%);

	// @include respond-to(md) {
	// 	@include center($lg-max);
	// }

	@include respond-to(lg) {
		@include center($lg-max);
	}
}

@include grids($global-div);

.grid {
	display: flex;
	flex-direction: column;
	@include respond-to(md){
		flex-direction: inherit;
	}

	@include m('center') {
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.column {
		width: 100%;
		padding: 0 rem(15);
	}
	.mapa{
		@include view(sm,md,lg);
		margin-top: 30px;
		@include respond-to(md){
			margin-top:10px;
		}
	}
	.wpcf7-form-control-wrap {
		&:not(:last-child){
			margin-right: 0;
			
			@include respond-to(md){
				margin-right: rem(15);
			}
		}
	}
}

body > img {
    display: none;
}