@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x0k95d');
  src:  url('../fonts/icomoon.eot?x0k95d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x0k95d') format('truetype'),
    url('../fonts/icomoon.woff?x0k95d') format('woff'),
    url('../fonts/icomoon.svg?x0k95d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {  
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-360:before {
  content: "\e912";  
}
.icon-cama:before {
  content: "\e904";
}
.icon-carro:before {
  content: "\e905";
}
.icon-carta:before {
  content: "\e906";  
}
.icon-download:before {
  content: "\e907";
}
.icon-executivo:before {
  content: "\e908";
}
.icon-fone:before {
  content: "\e909";  
}
.icon-headset:before {
  content: "\e90a";
}
.icon-livro:before {
  content: "\e90b";
}
.icon-mala:before {
  content: "\e90c";
}
.icon-pessoas:before {
  content: "\e90d";  
}
.icon-pin:before {
  content: "\e90e";  
}
.icon-regua:before {
  content: "\e90f";
}
.icon-whatsapp:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
