.list {
    $self: &;
    @extend %boxFull;

    @include e('tit'){
        @include typography($bold: 700, $size: 18, $color: #767676);
        letter-spacing: rem(.7);
        margin: 0 0 rem(15);
        padding-bottom: rem(10);
        border-bottom: 2px solid;
    }

    @include e('item'){
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(18);
        padding: 0 rem(10);

        a {
            color: $white;
        }
    }

    @include e('link'){
        color: $white;
        font-size: rem(18);
        padding: 0 rem(10);

        @include m('btNav'){
            border: 0;
            background: transparent;
            font-size: rem(30);
        }
    }

    @include m('cat'){
        @include e('item', $self){
            display: block;
            border-bottom: 1px solid rgba(#ccc, .5);
            padding: 0;

            &:last-child {
                border: 0;
            }

            a {
                @include fonts(600, 16);
                color: lighten($cor-titulos, 40%);
                display: block;
                padding: 12px 0;

                &:hover {
                    color: $cor-primaria;
                }
            }

            @include m('active'){
                a {
                    color: lighten($cor-titulos, 10%) $i;
                }
            }
        }
    }

    @include m('datas'){
        padding: 0;
        margin: 0 0 20px;

        @include e('item', $self){
            @include fonts(300, 17);
            border-bottom: 1px solid rgba(#ccc, .5);
            color: lighten($cor-titulos, 20%);
            display: block;
            padding: 12px 0;

            &:last-child {
                border: 0;
            }
        }
    }
}

.list-midia {

    @include e('item') {
        vertical-align: middle;
        margin-bottom: 1.25rem;
        display: inline-block;

        a {
            background-color: $cor-primaria;
            padding: .4375rem .8125rem;
            border-radius: 5px;
            color: $white;
            display: block;

            &:hover {
                background-color: darken($cor-primaria, 15%);
            }
        }

    }
}