// #page-loader {
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     z-index: 999;
//     // background-color: $white;

//     &:before, &:after {
//         @extend .animated;
//         content: "";
//         height: 50%;
//         width: 100%;
//         position: absolute;
//         background-color: $white;
//     }
//     &:before {top: 0;}
//     &:after {bottom: 0;}

//     &.ready {
//         &:before {@extend .slideInDown;}
//         &:after {@extend .slideInUp;}
//     }

//     &.loaded {
//         &:before {@extend .slideOutUp;}
//         &:after {@extend .slideOutDown;}
//         z-index: 0;
//     }
// }