.postnav {
    @extend %boxFull;
    margin: rem(20) 0;
    padding: rem(15);
    text-align: center;

    @include e('pag') {

        display: none;

        @include respond-to(sm) {
            display: block
        }

    }

    @include e('wp') {
        display: block;

        @include respond-to(sm) {
            display: none;
        }
    }

    @include e('item') {
        // @include col(1/2);
        display: inline-block;
        color: $white;
        background: $cor-secundaria;
        padding: rem(25);
        text-align: center;

        a {
            color: $white;
        }

        @include m('disable') {
            pointer-events: none;
            cursor: default;
            opacity: 0.2;
        }
    }
}

.wp-pagenavi{
    // text-align: center;

    a, span{
        @include fonts(400, 15);
        @include radius(8px);
        color: $cor-primaria;
        background-color: rgba($black, .1);
        border: 0;
        padding: 8px 12px;
        margin-right: 5px;


        &:hover {
            background-color: rgba($black, .15);
        }

        &.current{
            color: $white;
            background-color: $cor-primaria;
            cursor: pointer;

            &:hover {
                color: $white;
                background-color: $cor-primaria;
            }
        }
    }

    .pages, .last {
        display: none;
    }
}

.navwp {
    @include center(320px);
}

.btn-wrap {

    text-align: center;
    margin-top: rem(20);

    > .btn {
        background: $cor-primaria;
        color: $white;
    }
}