$theme-color : #c7c7c7;
$back-color  : #ececec;

%positionCenter {
  @include size(100%);
  border-radius: 50%;
  position: absolute; 
  top:  0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.progress-circle {
  $size: 196px;

  @include size($size);
  background-color: $back-color;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2rem 0;
  position: relative;
  
  img {
    @extend %positionCenter;
    z-index: 1; 
    border-radius: 50%;
  }

  &__bg {
    @extend %positionCenter;
    @include size(96%);
    border: 2px solid;
    border: 7px solid #fff;
    z-index: 1;

    &:before {
      @extend %positionCenter;      
      z-index: 3;
      content: '';
      background-color: $cor-primaria;     
      mix-blend-mode: multiply;
    }
  }

  &:before {
    @extend %positionCenter;
    align-items: center;
    content: attr(data-progress)'%';
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: $white;
    z-index: 9; 
    transition: transform .2s ease;
  }

  &:after {
    background-color: $theme-color;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

$step      : 1;
$loops     : 100 / $step;
$increment : 360 / $loops;
$half      : $loops / 2;

@for $i from 0 through $loops {
  .progress-circle[data-progress="#{$i * $step}"]:after {
    @if $i < $half {
      $next-deg : 90deg + $increment * $i;
      background-image: linear-gradient(90deg, $back-color 50%, transparent 50%, transparent), linear-gradient($next-deg, $theme-color 50%, $back-color 50%, $back-color);
    } @else {
      $next-deg: -90deg + $increment * ($i - $half);
      background-image: linear-gradient($next-deg, $theme-color 50%, transparent 50%, transparent), linear-gradient(270deg, $theme-color 50%, $back-color 50%, $back-color);
    }
  }
}