.icon-icone-folder {
  background-image: url(../images/sprite.png);
  background-position: -306px -51px;
  width: 21px;
  height: 21px;
}
.icon-icone-globo-white {
  background-image: url(../images/sprite.png);
  background-position: 0px -108px;
  width: 84px;
  height: 60px;
}
.icon-icone-globo {
  background-image: url(../images/sprite.png);
  background-position: 0px -169px;
  width: 62px;
  height: 57px;
}
.icon-icone-growth {
  background-image: url(../images/sprite.png);
  background-position: -193px 0px;
  width: 62px;
  height: 57px;
}
.icon-icone-hands-white {
  background-image: url(../images/sprite.png);
  background-position: -85px -108px;
  width: 84px;
  height: 60px;
}
.icon-icone-hands {
  background-image: url(../images/sprite.png);
  background-position: -193px -58px;
  width: 62px;
  height: 57px;
}
.icon-icone-headphone-b {
  background-image: url(../images/sprite.png);
  background-position: -278px -103px;
  width: 21px;
  height: 21px;
}
.icon-icone-headphone-c {
  background-image: url(../images/sprite.png);
  background-position: -282px -51px;
  width: 23px;
  height: 23px;
}
.icon-icone-headphone {
  background-image: url(../images/sprite.png);
  background-position: -256px -103px;
  width: 21px;
  height: 21px;
}
.icon-icone-mapa {
  background-image: url(../images/sprite.png);
  background-position: -300px -103px;
  width: 21px;
  height: 21px;
}
.icon-icone-play {
  background-image: url(../images/sprite.png);
  background-position: -256px 0px;
  width: 71px;
  height: 50px;
}
.icon-icone-search {
  background-image: url(../images/sprite.png);
  background-position: -256px -51px;
  width: 25px;
  height: 25px;
}
.icon-icone-time {
  background-image: url(../images/sprite.png);
  background-position: -63px -169px;
  width: 62px;
  height: 57px;
}
.icon-icone-tour-virtual {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 192px;
  height: 107px;
}
.icon-idioma-br {
  background-image: url(../images/sprite.png);
  background-position: -256px -125px;
  width: 19px;
  height: 19px;
}
.icon-idioma-en {
  background-image: url(../images/sprite.png);
  background-position: -276px -125px;
  width: 18px;
  height: 17px;
}
.icon-youtube-badge-small {
  background-image: url(../images/sprite.png);
  background-position: -256px -77px;
  width: 59px;
  height: 25px;
}
.icon-youtube-badge {
  background-image: url(../images/sprite.png);
  background-position: 0px -227px;
  width: 249px;
  height: 33px;
}
.icon-youtube-play {
  background-image: url(../images/sprite.png);
  background-position: -126px -169px;
  width: 74px;
  height: 52px;
}
