.header-img {
	@include centerFlex();
	position: relative;
	overflow: hidden;
	min-height: 367px;
	background-color: $cor-primaria;

	img {
		@extend %centerPositionAll;
	}
	
	@include mask($opacidade: .4);	
}

.header-img.header-img--cariri:before {
	display: none $i;
}