.video {

	// Modulo vídeo
	@include e('item'){
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
		float: left;
		box-sizing: border-box;
	}

	iframe{
		width: 100%;
		float: left;
	}
}

.youtube__iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: rem(25);
    height: 0;
    z-index: 99;

    &.load {
        background: $black;
        @extend %loadWhite;
    }
}

.youtube__iframe iframe {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}