//PÁGINA CLIENTES
.acliente {

    .container {
        max-width: 90%;
        @include respond-to(lg){
            max-width: 1170px;
        }
    }

    .msg-post {
        border-radius: 5px;
        text-align: center;
        background: #b70927;
        padding: 15px;
        color: #fff;
        font-size: 13px;
    }

    @include e('contratos'){
        @include col(1);
        @include respond-to(md){
            @include col(.6);
        }
    }

    @include e('menu'){
        @include col(1);
        @include respond-to(md){
            @include col(.4);
        }
    }

    @include e('titulo'){
        color: #2b2b2b;
        border-bottom: 2px solid lighten($cor-primaria, 15%);
        font:{
            size: rem(12);
            weight: 600;
        }
        margin-bottom: 0;
        padding: rem(5) 0;
        text-transform: uppercase;
    }

}

//USER ROW
.user-row {
    @extend %boxFull;
    background: #dadada;
    color: #555;
    padding: rem(40) 0;
    margin-bottom: rem(50);

    @include e('thumb'){
        @include col(1);
        font-size: rem(80);
        display: none;

        @include respond-to(sm){
            @include col(.15);
            display: inline-block;
            text-align: right;
        }

        @include respond-to(md){
            border-left: rem(4) solid $cor-primaria;
        }
    }

    @include e('user'){
        @include col(1);

        @include respond-to(sm){
            @include col(.85);
        }
    }

    @include e('info'){
        @include col(1);

        // @include respond-to(md){
        //     padding: rem(20) 0 rem(0);
        //     @include col(.6);
        // }

        // @include respond-to(lg){
        //     padding: rem(20) 0 rem(40);
        //     @include col(.65);
        // }

        span {
            display: block;
        }
    }

    @include e('links'){
        @include col(1);

        // @include respond-to(md){
        //     @include col(.40);
        //     text-align: right;
        //     padding-top: rem(20);
        // }

        // @include respond-to(lg){
        //     @include col(.35);
        //     text-align: right;
        //     padding-top: rem(20);
        // }
        display: flex;
        flex-direction: column;


        @include respond-to(sm){
            flex-direction: row;
        }

        li {
            color: #555;
            background: #fff;
            display: inline-block;
            padding: rem(10) rem(20);
            margin-bottom: rem(10);

            @include respond-to(sm){
                margin-left: rem(5);
            }

            &:hover {
                background: #555;
                color: $white;
            }

            a {
                color: inherit;
            }
        }
    }
}

//DETALHES CLIENTE
.userinfo {
    padding: 0;

    @include e('item'){
        color: #555;
        font:{
            size: 20px;
            weight: 600;
        }
        list-style: none;
        padding: 10px 0 0;
        text-transform: uppercase;

        i {
            color: $vermelho;
            margin-right: 10px;
        }

        @include m('sub') {
            font-weight: 500;
            border-bottom: 2px solid #d5d5d5;
            margin-top: 3px;
            font-size: 16px;
            padding: 10px 0 25px 0;

            &:last-child {
                border: 0;
            }
        }
    }
}

//ACCORDION EMPREENDIMENTOS
.accordion {
    @include m('emp'){
        .accordion-content {
            float: left;
            padding: 0;
            padding-bottom: rem(25);
            margin-bottom: rem(12);
        }

        .accordion-bloco {
            font-size: rem(14);
            padding: 0 1.875rem 1.25rem;

            h3, span.small, div.infos {
                @extend %boxFull;
            }

            h3 {
                border-top: 2px solid #d5d5d5;
                padding-top: rem(15);
            }

            .wrap-small {
                @include view(sm,md,lg);
            }

            span.small {
                font-size: rem(12);
                margin: rem(10) 0;

                a {
                    color: $cor-primaria;
                    font-weight: 600;

                    &:hover {
                        color: darken($cor-primaria, 5%);
                    }
                }
            }
        }

        .accordion-title.active:hover~.accordion-content {
            border-color: #dadada;
        }

        .accordion-title {
            background:{
                color: #a00c10;
                image: url(../images/ico-building.png);
                position: 12px center;
                repeat: no-repeat;
            }
            border: 0;
            color: #fff;
            display: block;
            float: left;
            padding: rem(15) 0 rem(15) rem(65);
            text-transform: uppercase;

            &.active {
                background-color: darken(#a00c10, 5%);
                border: 0;
                border-bottom: 2px solid rgba(#a00c10, .2);
                color: #fff;
            }

            span {
                display: block;

                &.small {
                    font-size: rem(12);
                }
            }
        }
    }
}

//SERVIÇOS EMPREENDIMENTO
.lista-servicos {
    float: left;
    display: block $i;
    width: 100%;
    background: #ececec;
    margin: 0 0 rem(30);

    .planilha, .boleto {
        position: relative;
    }

    .planilha:after, .boleto:after  {
        content: "*";
        font-size: 15px;
        position: absolute;
        right: -6px;
        top: 0;
    }

    .boleto {
        padding-right: 15px !important;

        &:after {
            content: "**";
            right: 2px;
        }
    }

    @include e('item') {
        @include span(1/2, $cycle: 2);
        color: #555555;
        font-weight: bold;
        padding: 20px 10px;
        position: relative;
        top: 0;
        text-align: center;

        @include respond-to(sm){
            @include span(1/4, $cycle: 4);
        }

        &:hover {
            color: #a00c10;
        }

        a {
            color: inherit;
            font-size: rem(11);

            @include respond-to(lg){
                font-size: rem(15);
            }
        }

        @include m('dropdown'){
            position: relative;
            cursor: pointer;

            > a {
                pointer-events: none;
                cursor: pointer;
            }

            > ul.dropdown-menu {
                display: none;
                font-weight: normal;
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                background: #ececec;
            }

            > ul.dropdown-menu li {
                padding: rem(10);
                color: #555;
                font-size: rem(11);

                &:hover  {
                    color: #a00c10;
                }

                span {
                    display: block;
                    font-size: 13px;
                }

            }

            > ul.dropdown-menu form {
                padding: rem(10);
                color: #555;
            }

            &:hover > ul.dropdown-menu {
                display: block;
            }

            input {
                line-height: normal;
                float: left;
                width: 70%;
                padding: 6px;
                border: 0;
                border-radius: 5px;
                margin-right: 5%;
            }

            .ir-btn {
                color: #ffffff;
                padding: 6px;
                border: 0;
                position: relative;
                top: 0;
                text-align: center;
                width: 25%;
                background: #80090d;
                border-radius: 5px;
            }
        }

        @include m('disabled'){
            color: #b1b1b1;
            cursor: not-allowed;
            pointer-events: none;

            &:hover {
                color: #b1b1b1;
            }
        }
    }
}

//FORMS
.modal {

    .hidden {display: none;}

    @include e('small'){
        @extend %boxFull;
        font-size: rem(12);
        margin: rem(10) 0;
        text-align: center;
    }

    @include e('titulo'){
        @extend %boxFull;
        border-bottom: 2px solid;
        color: $cor-primaria;
        font-size: rem(25);
        margin-bottom: 0;
        padding-bottom: rem(15);
        text-align: center;
    }

    @include e('form'){
        @extend %boxFull;

        input, textarea {
            @extend %boxFull;
            background: #f1f1f1;
            border-radius: 3px;
            border: 1px solid #ccc !important;
            color: #636363;
            font-size: 14px;
            margin-bottom: 5px;
            padding: 14px;
        }

        textarea {
            height: 120px;
            resize: none;
        }

        .btn {
            background: $cor-primaria;
            border: 0;
            color: #fff;
            display: block;
            float: none;
            margin: 0px auto;
            width: 180px;
        }

        .ajax-loader {
            margin-top: -25px;
            float: right;
        }

        .row {
            @extend %boxFull;
            margin-bottom: rem(12);

            span {
                @include col(1);
                @include respond-to(sm){
                    @include col(1/3, $cycle: 3)
                }
            }
        }

    }
}

#senha-popup {

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 20px 0;

        .wpcf7-form-control-wrap {
            margin-right: 5px;
        }

        input {
            margin-bottom: 0 $i;
        }

        .form__input--btn {
            background: $vermelho;
            border-radius: 5px;
            color: #fff;
            text-align: center;
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login__load--on {
            margin-right: -20px;
            margin-left: 5px;
        }
    }

    .pass__msg {
        display: none;
        width: 100%;
        color: #fff;
        padding: 10px 0;
        background: #aba9a9;
        min-height: 30px;
        justify-content: center;
        font-size: rem(14);
        align-items: center;
        text-align: center;

        &.enviando {
            display: flex;
            background: #ea9f10;
        }

        &.sucesso {
            display: flex;
            background: #3cad2f;
        }

        &.erro {
            display: flex;
            background: $vermelho;
        }
    }

}

.page-template-page-cliente .mfp-modal .mfp-close {
    color: #fff;
    margin-top: -18px;
    font-size: 35px;
    background: #000;
    width: 35px;
    height: 35px;
    line-height: 1;
    margin-right: -5px;
    opacity: 1;
}