.pages--contato {
    margin-bottom: rem(100);
}

.block-address {
    display: flex;
    margin-bottom: rem(60);
    flex-flow: wrap;

    @include respond-to(sm){
        flex-flow: inherit;
    }
}

.endereco {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-style: normal;
    margin-top: rem(30);
    text-align: center;

    @include respond-to(sm){
        text-align: left;
    }

    @include e('icon'){
        @include view(sm, md, lg);
        font-size: rem(31);
        color: $cor-primaria;
        margin-right: rem(10);
    }

    @include e('infos'){}

    @include e('tit'){
        @include typography($bold: 900, $size: 17, $color: #5e5e5e, $txt-t: $u);
    }

    @include e('subtit') {
        @include typography($bold: 700, $size: 15, $color: #5e5e5e, $txt-t: $u);
        display: block;

        a {
            color: #5e5e5e;
            &:hover {
                color: $cor-primaria;
            }
        }
    }

    @include e('desc'){
        @extend %tit-p-default;
    }
}

.pages--contato {

    .wpcf7-form-control-wrap.anexo {
        font-size: 14px;
        margin-bottom: 15px;
    }

    div.wpcf7-response-output {
        margin: 15px 0 $i;
    }

    .form__input--submit:hover {
        opacity: 1 $i;
    }

    .ajax-loader {
        background-image: url(../images/rolling.svg) $i;
        float: left;
        margin-left: 15px $i;
        margin-top: -35px $i;
        height: 22px $i;
        width: 22px $i;
    }
}