.#{$prefix}-empreendimento {

    @include e('capa-new') {

        .logo {
            position: absolute;
            width: 80px;
            height: 80px;
            margin: 0;
            bottom: -40px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
            z-index: 10;


            @include respond-to(md) {
                width: 100px;
                height: 100px;
                bottom: -50px;
            }

            @include respond-to(lg) {
                width: 150px;
                height: 150px;
                bottom: -75px;
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }

        .bg-center {
            overflow: hidden;
            margin: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            img {

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 1920px;
                margin: 0 auto;
            }

            &:before {
                content: '';
                background-image: var(--bgCapa);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: calc(100% + 50px);
                width: calc(100% + 50px);
                position: absolute;
                left: -25px;
                top: -25px;
                filter: blur(4px);
            }
        }




    }

    @include e('capa') {
        position: relative;
        height: calc(100vh - 80px);
        // max-height: 370px;
        // max-height: 170px;
        max-height: 130px;
        // max-height: 820px;
        // background-image: var(--bgCapa);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;

        // &:before {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     background-color: rgba(0, 0, 0, 0.3);
        // }
        @include respond-to(sm) {
            max-height: 180px;
        }
        @include respond-to(md) {
            max-height: 270px;
        }

        @include respond-to(lg) {
            max-height: 370px;
        }

        .container {
            position: relative;
            height: 100%;

            .initial-info {
                position: relative;
                transform: translateY(-50%);
                width: 50%;
                top: 50%;
                color: #fff;


                .cidade {
                    text-transform: uppercase;
                    margin: 0;
                    font-weight: 400;
                    text-shadow: 0px 0px 10px #000;
                }

                .tit {
                    display: flex;
                    flex-direction: column;
                    font-size: rem(60);
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 10px 0 10px 0;
                    text-shadow: 0px 0px 20px #000;

                    span {
                        font-weight: 100;
                        font-size: rem(15);
                        text-shadow: 0 0 5px #000;
                    }
                }

                .icones {
                    font-weight: 100;

                    * {
                        text-shadow: 1px 1px 3px #000;
                    }

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 10px;

                        i {
                            width: 40px;

                            &:before {
                                text-shadow: 1px 1px 2px #000;
                            }
                        }
                    }
                }
            }
        }


    }

    @include e('content') {
        padding: 60px 0 80px;
        
        @include respond-to(md) {
            padding: 100px 0;
                    
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include respond-to(md) {

                flex-direction: row;
            }


            .text-side {
                display: block;
                height: 100%;
                width: 100%;
                margin-bottom: 30px;

                @include respond-to(md) {
                    margin-bottom: 0;
                    width: 50%;

                }

                .#{$prefix}-btn {
                    margin-top: 30px;
                    margin-right: 5px;
                    padding: 15px 5px;
                    display: inline-block;

                    @include respond-to(md) {

                        padding: 15px;
                        margin-top: 20px;
                        margin-right: 20px;

                    }

                }

                .btn-wrap {
                    display: flex;
                    justify-content: center;
                    
                    @include respond-to(md) {
                        justify-content: flex-start;
                    }

                }

                .titulo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .logo {
                        width: 100px;
                        height: 100px;
                        margin-left: 0;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    h3 {
                        font-size: rem(28);
                        font-weight: 500;
                        color: $cinza2;
                        margin: 5px 0;

                        @include respond-to(md) {
                            font-size: rem(35);
                        }
                    }

                }

                .subtit {
                    font-size: rem(17);
                    font-weight: 300;
                    color: $cinza2;
                    margin: 5px 0;

                    @include respond-to(md) {
                        font-size: rem(20);
                    }
                }

                .cidade {
                    color: $cinza2;
                    font-size: rem(17);
                    font-weight: 200;
                    margin-top: 5px;
                }

                .texto {
                    color: $cinza1;
                    font-size: rem(16);
                    font-weight: 300;
                    line-height: 1.5;
                }

                .grid-icon {
                    display: grid;

                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: ". .";
                    grid-gap: 10px;

                    border-top: 1px solid #b93027;
                    padding-top: 30px;
                    margin-top: 40px;

                    @include respond-to(md) {
                        grid-template-columns: 1fr 1fr;

                        grid-template-rows: 1fr 1fr;
                        grid-template-areas: ". ."". .";

                    }


                    .item {
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
                        color: $cinza2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                        .cidade {
                            display: flex;
                            flex-direction: column;
                            font-weight: 600;
                            font-size: rem(14);

                            @include respond-to(md) {
                                font-size: rem(19);
                            }

                            i {
                                font-size: rem(20);
                            }

                            span {
                                color: $cinza1;
                                font-weight: 300;
                            }
                        }

                        h3 {
                            display: flex;
                            flex-direction: column;
                            font-weight: 400;
                            font-size: rem(13);

                            span {
                                color: $cinza1;
                                font-weight: 100;
                                max-width: 170px;
                            }
                        }

                        i {
                            color: $vermelho;
                            font-size: rem(30);
                            margin-right: 10px;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                        }

                        &:nth-child(1) {
                            box-shadow: none;
                            justify-content: center;

                            h4 {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .predio {

                padding: 0;
                width: 100%;

                margin: 0 auto;
                max-width: 430px;

                @include respond-to(sm) {

                    max-width: 440px;
                    width: 100%;

                }


                @include respond-to(md) {

                    max-width: 440px;
                    width: 50%;

                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: top;

                    @include respond-to(md) {
                        object-position: right;

                        object-fit: contain;


                    }

                }
            }

        }
    }

    @include e('video') {
        position: relative;

        &:before {
            content: '';
            height: 50%;
            width: 100%;
            position: absolute;
            background-color: #fbfbfb;
            bottom: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            position: relative;

            @include respond-to(md) {

                flex-direction: row;
            }




            .card {
                position: relative;
                width: 100%;
                margin-right: auto;
                background-color: #fff;
                z-index: 5;
                top: 50%;
                transform: translateY(-50%);
                padding: 20px;


                @include respond-to(md) {
                    width: 40%;
                    position: absolute;
                }


                .text {
                    font-weight: 200;
                    color: $cinza1;
                    font-size: rem(18);
                    line-height: 1.4;

                }
            }


            .thumb-video {
                width: 100%;
                margin-left: auto;
                position: relative;

                @include respond-to(md) {
                    width: 70%;
                    height: 460px;

                }

                &:before {
                    content: '';
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: #000;
                    opacity: 0.2;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .play-btn {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @extend .icon-play-btn;
                    color: #fff;

                    &:before {
                        font-size: rem(70);

                        @include respond-to(md) {
                            font-size: rem(120);
                        }
                    }
                }
            }
        }
    }

    @include e('diferenciais') {
        padding: 100px 0;
        position: relative;
        background-color: #fbfbfb;

        .grid-dif {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas: ". .";
            margin-top: 50px;


            @include respond-to(md) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: ". . . . .";
            }



            .item {
                display: flex;
                align-items: center;
                flex-direction: column;

                .thumbnail {
                    margin-bottom: 0;
                    width: 50px;
                    height: 50px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .title {
                    margin-top: 5px;
                    color: $cinza1;
                    text-align: center;
                }
            }
        }

        .#{$prefix}-btn {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: -25px;
        }

    }

    @include e('galeria') {
        padding: 100px 0 0;

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 20px;
            grid-template-areas: "a a b b c c"
                "a a b b c c"
                "d d d e e e"
                "d d d e e e"
                "d d d f f f"
                "d d d f f f"
                "g g h h i i"
                "g g h h i i";



            height: 450px;

            @include respond-to(md) {
                height: 900px;
            }

            &.grid-3 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "a a b b c c"
                    "a a b b c c";

                height: 100px;

                @include respond-to(md) {
                    height: 212px;
                }
            }

            &.grid-6 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: "a a b b c c"
                    "a a b b c c"
                    "d d d e e e"
                    "d d d e e e"
                    "d d d f f f"
                    "d d d f f f"
                ;

                height: 336px;

                @include respond-to(md) {
                    height: 676px;
                }
            }

        }

        .a {
            grid-area: a;
        }

        .b {
            grid-area: b;
        }

        .c {
            grid-area: c;
        }

        .d {
            grid-area: d;
        }

        .e {
            grid-area: e;
        }

        .f {
            grid-area: f;
        }

        .g {
            grid-area: g;
        }

        .h {
            grid-area: h;
        }

        .i {
            grid-area: i;
        }

        .wrap-tabs {
            .tab-selector {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 50px 0;
                flex-direction: column;

                @include respond-to(sm) {
                    flex-direction: row;
                }

                .#{$prefix}-btn {
                    min-width: 150px;
                    margin: 5px 0;

                    @include respond-to(sm) {
                        margin: 0 20px;

                    }
                }
            }
        }

        .frame-galeria {
            position: relative;
            overflow: hidden;
            display: flex;
            height: 100%;
            width: 100%;

            &:before {
                content: '';
                height: 100%;
                width: 100%;
                background-color: #000;
                opacity: .2;
                position: absolute;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }


            .title-image {
                position: absolute;
                width: 100%;
                bottom: 0;
                color: #fff;
                padding: 0 30px 20px;
                font-weight: 100;
                font-size: rem(18);
                align-items: center;
                justify-content: space-between;
                display: none;

                @include respond-to(md) {
                    display: flex;
                }

                i {
                    font-size: rem(30);
                    padding-left: 20px;
                }
            }
        }

    }

    @include e('plantas') {
        padding: 100px 0;

        .slides-tabs {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 50px 0;
            flex-direction: column;

            @include respond-to(sm) {
                flex-direction: row;
            }



            .#{$prefix}-btn {
                min-width: 150px;
                margin: 5px 0;

                @include respond-to(sm) {
                    margin: 0 20px;
                    min-width: 150px;
                }
            }






        }

        .slider-wrap {
            position: relative;


            .slide-conteudo {
                display: flex;
                flex-direction: column;
                outline: none;



                @include respond-to(md) {
                    flex-direction: row;
                }

                * {
                    outline: none;
                }

                .imagem-planta {
                    width: 30%;
                    max-width: 450px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .slide-text {
                    width: 70%;
                    max-width: 450px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .titulo-planta {
                        font-size: rem(20);
                        font-weight: 500;
                        color: $cinza1;




                    }

                    .conteudo {
                        color: $cinza1;
                        font-size: rem(16);
                        font-weight: 300;
                        line-height: 1.5;
                        margin: 0 0 30px 0;
                    }

                    .btn-wrap {
                        display: flex;
                        flex-direction: column;

                        @include respond-to(md) {
                            flex-direction: row;
                        }

                        a {
                            &:nth-child(1) {
                                margin-bottom: 20px;

                                @include respond-to(md) {
                                    margin-bottom: 0;
                                    margin-right: 20px;
                                }
                            }
                        }
                    }

                }

            }


            .nav-slider {
                width: 100%;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                pointer-events: none;



                .prev,
                .next {
                    pointer-events: all;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    border-radius: 2px;
                    line-height: 1;
                    cursor: pointer;

                    &:before {
                        color: #fff;
                    }
                }

                .prev {
                    @extend .icon-prev;
                }

                .next {
                    @extend .icon-next;
                }
            }
        }
    }

    @include e('ficha') {

        @extend .container;

        @include respond-to(md) {
            margin-left: 0;
            max-width: 85vw;
        }

        .wrap-ficha {
            display: grid;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "a"
                "b"
                "c";



            @include respond-to(sm) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "a a a""c c c";

            }

            @include respond-to(md) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "a a a""b c c";

            }

            .wr-headline {
                grid-area: a;
                width: 100%;
                max-width: initial;

                @include respond-to(md) {
                    max-width: 500px;
                    margin: 0 auto 20px 400px;

                }
            }

            .left-figure {
                grid-area: b;
                margin: 0;
                width: 100%;
                display: none;

                @include respond-to(md) {
                    width: 40vw;
                    display: block;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .right-content {
                grid-area: c;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                @include respond-to(md) {
                    margin-left: 30px;
                }

                .title {

                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    margin: 10px 0 0 0;
                    color: $pretoC;
                    font-weight: 300;
                    width: calc(50% - 20px);
                    font-size: rem(13);



                    @include respond-to(md) {

                        font-size: rem(17);
                    }


                    span {
                        color: $cinza1;
                        font-size: rem(16);
                        font-weight: 300;
                        line-height: 1.5;
                        margin-top: 5px;
                        font-size: rem(12);



                        @include respond-to(md) {

                            font-size: rem(16);
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    @include e('status') {
        padding: 100px 0;

        .headline {
            max-width: 700px;
        }

        .grid-load {
            display: grid;
            grid-template-rows: 1fr;
            gap: 10px 100px;
            grid-template-areas: ".";
            grid-template-columns: 1fr;
            height: 450px;
            overflow: auto;

            @include respond-to(md) {

                grid-template-areas: ". .";
                grid-template-columns: 1fr 1fr;

            }


            .item {
                display: flex;
                flex-wrap: wrap;

                .title {
                    width: 100%;
                    margin: 10px 0 0 0;
                    color: $cinza1;
                    font-weight: 300;
                }

                .barra {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;

                }

                .barra-bg {
                    background-color: $cinza1;
                    width: calc(85% - 20px);
                    position: relative;
                    height: 10px;
                    margin-right: 20px;

                    .vermelho {
                        background-color: $vermelho;
                        position: absolute;
                        height: 100%;
                    }
                }

                .porcentagem {
                    width: 10%;
                    text-align: center;

                    color: $cinza1;
                    font-weight: 300;
                }

            }
        }
    }

    @include e('localizacao') {
        padding: 100px 0;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            background-color: $pretoC;
        }

        .header-loc {
            display: flex;
            justify-content: center;
            margin: 30px 0;
            align-items: center;
            flex-direction: column;

            @include respond-to(md) {

                flex-direction: row;
            }

            .map-titulo {

                margin: 0;
                color: $pretoC;
                font-size: rem(18);
                font-weight: 500;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                position: relative;
                padding-left: 40px;
                margin-right: 40px;

                span {
                    font-size: rem(15);
                    font-weight: 300;

                }

                &:before {
                    content: '\0049';
                    @extend .icon-glyphter;
                    transform: translateY(-50%);
                    top: 50%;
                    position: absolute;
                    left: 0px;
                    font-size: rem(30);
                    color: $vermelho;
                }

            }

            .wrap-btn {
                display: flex;
                margin-top: 15px;

                a {
                    &:nth-child(1) {
                        margin-right: 5px;
                    }
                }
            }
        }


        .map-slider-wrap {
            padding: 30px 0;
            position: relative;
            width: 400px;
            margin: 0 auto;

            @include respond-to(xs) {
                width: 100%;
            }

            .map-slider {
                .item {
                    padding: 10px;
                }

                .title {

                    width: 100%;
                    margin: 10px 0 0 0;
                    color: $pretoC;
                    font-size: rem(18);
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: center;

                    @include respond-to(xs) {
                        text-align: left;
                    }
                }

                .content {
                    color: $cinza1;
                    font-size: rem(16);
                    font-weight: 300;
                    line-height: 1.5;
                    margin-top: 10px;
                    text-align: center;

                    @include respond-to(xs) {
                        text-align: left;
                    }
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    z-index: 8;
                    pointer-events: none;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 10%, rgba(255, 0, 0, 0) 30%, rgba(255, 0, 0, 0) 70%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
                    display: none;


                    @include respond-to(md) {

                        display: block;
                    }
                }
            }

            .map-slider .item {
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
                margin: 10px;
            }

            .slick-slide {
                margin-right: 15px;
                margin-left: 15px;
            }



            .nav-slider {
                width: 100%;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                @extend .container;
                margin-top: 0;
                margin-bottom: 0;


                .prev,
                .next {
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    border-radius: 2px;
                    line-height: 1;
                    cursor: pointer;

                    &:before {
                        color: #fff;
                    }
                }

                .prev {
                    @extend .icon-prev;
                    margin-rigth: auto;
                }

                .next {
                    @extend .icon-next;
                    margin-left: auto;

                }
            }


        }

        .iframe-mapa iframe {
            width: 100%;
            height: 470px;
            border-bottom: 5px solid $vermelho $i;
            position: relative;
            bottom: -80px;
        }
    }

    @include e('form') {
        background-color: $pretoC;
    }
}