.painel {
    position: relative;

    @include e('thumb'){
        @include mask($opacidade: .7);
        position: absolute;

        img { display: flex; }
    }

    @include e('infos'){
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 367px;
        // @extend %centerPositionAll;
        // width: 70%;
        // z-index: 9;
        // color: $white;
        // text-align: center;
        // @include respond-to(sm){
        //     width: auto;
        //     max-width: 860px;
        // }
    }

    @include e('tit'){
        @extend %tit-slide-big;
        text-align: left;
       
        margin-bottom: rem(30);
        @include respond-to(md){
            //font-size: -webkit-xxx-large;
        }

        &:after{
            margin-left: 0$i;
        }
    }

    @include e('btn'){
        @include btn-t();
        padding-top: rem(15);
        padding-bottom: rem(15);
        background: red$i;
        border: 0$i;
    }
}

.status-obra {
    @extend %d-table;
    padding: 0 0 rem(80);
    display: block;
    @include respond-to(md){
        display: inherit;
    }

    @include e('flex'){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include e('geral'){
        position: relative;
        width: 100%;
        max-width: 576px;
        background-color: #dfdfdf;
        padding: rem(15) rem(60);
        text-align: center;

        strong {
            position: relative;
            z-index: 5;
            @include typography($bold: 400, $size: 16, $color: $white, $txt-t: $u);
        }

        .progress-geral {
            @include size(90%, 100%);
            background: $cor-primaria;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            &:before {
                @include size(100%);
                content: '';
                background: url('../images/pattern.png');
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                opacity: .1;
            }
        }
    }

    @include e('galeria'){
        display: none;
    }
}

.status-obra-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    margin: rem(60) 0;

    strong {
        @include typography($bold: 400, $size: 16, $color: #868686);
        display: block;
    }

    @include e('item'){
        @include centerFlex();
        width: 100%;
        position: relative;

        border-radius: 5px;
        margin: rem(10);
        text-align: left;


        strong {
            @include typography($bold: 400, $size: 16, $color: #333);
            position: relative;
            z-index: 5;
            text-align: center;
            min-height: 34px;
        }
    }

    @include e('block-icon'){
        @include centerFlex();
        color: #333;
        position: relative;
        z-index: 9;

        flex-direction: column;

        .icon, .fa {
            font-size: rem(70);
            margin-bottom: rem(10);

            color: $cor-primaria;
        }
    }

    @include e('tit'){
        font-size: rem(18);
        margin-bottom: rem(15);
    }

    @include e('number'){
        font-size: rem(30);
    }

    .owl-prev,
    .owl-next {
        @extend %transitionAll;
        @include size(20px);
        content: '';
        border-right: 3px solid #cac8c8;
        border-bottom: 3px solid #cac8c8;

        position: absolute;
        top: 50%;
        z-index: 9;

        &:hover {
            border-color: $black;
        }
    }

    .owl-prev {
        left: -3%;
        transform: translateY(-50%) rotate(135deg);
    }

    .owl-next {
        left: auto;
        right: -3%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

.galeria-andamento {
    margin: 0;

    .owl-dots {
        display: block;
        margin-top: rem(20);
    }
}


.int-logo {
    $self: &;
    padding: rem(80) 0;
    text-align: center;

    @include e('flex'){
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        @include respond-to(sm){
            text-align: left;
        }

        @include respond-to(md){
            align-items: flex-start;
            flex-direction: inherit;
        }
    }

    @include e('thumb'){
        @include centerFlex();
        flex-direction: column;
        margin-bottom: rem(30);

        @include respond-to(md){
            margin-right: rem(20);
        }

        @include respond-to(lg){
            margin-right: rem(0);
        }
    }

    @include e('circle'){
        @include centerFlex();
        @include size(240px);
        box-shadow: 0 0 100px rgba($black, .15);
        flex: 0 0 240px;
        border-radius: 50%;
        padding-right: rem(15);
        overflow: hidden;

        img {
            @include size(75%);
        }
    }

    @include e('content'){
        width: 100%;
        max-width: 775px;

        .tit-border {
            margin-bottom: rem(25);
        }

        .icones {
            display: flex;
            flex-wrap: wrap;
            margin: rem(40) 0;

            &__item {
                width: 100%;
                border-bottom: 1px solid rgba($black, .2);
                padding-bottom: rem(5);

                @include respond-to(sm){
                    width: 50%;
                    border-bottom: 0;
                    padding-bottom: 0;
                }
            }

            &__icon {
                min-width: 30px;

                .icon {
                    color: $cor-primaria;
                }
            }

            &__tit {
                color: #6f7072;
            }
        }
    }

    @include e('desc'){
        @extend %tit-p-default;
        line-height: 1.6;
    }

    @include e('action'){
        margin-top: rem(25);

        @include m('row'){
            display: flex;
            align-items: center;
            flex-direction: column;

            @include e('btn', $self){
                background-color: #bbb;
            }
        }

        @include m('column'){
            display: flex;
            align-items: center;
            margin-top: 0;
            flex-direction: column;

            @include respond-to(md){
                flex-direction: inherit;
            }

            @include e('btn', $self){
                width: 100%;
                // margin-right: rem(15);

                @include respond-to(md){
                    width: auto;
                    margin-right: rem(15);
                }
            }
        }
    }

    @include e('btn'){
        @include btn();

        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: rem(10);

        padding: rem(15) rem(20)$i;

        .icon, .fa {
            @include centerFlex();
            font-size: rem(18);
            margin-right: rem(8);
        }
    }
}

.sec-diferencias {
    @extend %d-table;
    display: block;
    background-color: #eee;
    padding: rem(150) 0 rem(100);
    margin-top: rem(-100);
    @include respond-to(md){
        display: inherit;
    }
    @include e('flex'){
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    @include e('btn'){
        @include btn();
    }
}

.owl-direferenciais {
    margin: rem(40) 0 rem(100);

    .owl-prev,
    .owl-next {
        @extend %transitionAll;
        @include size(25px);
        content: '';
        border-right: 3px solid #cac8c8;
        border-bottom: 3px solid #cac8c8;

        position: absolute;
        top: 50%;
        z-index: 9;

        &:hover {
            border-color: $black;
        }
    }

    .owl-prev {
        left: -3%;
        transform: translateY(-50%) rotate(135deg);
    }

    .owl-next {
        left: auto;
        right: -3%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

.diferencial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include e('thumb'){
        @include centerFlex();
        @include size(128px);
        background-color: $white;
        margin: 0;
        border-radius: 50%;

        img { @include size(initial $i); }
    }

    @include e('tit'){
        @include typography($bold: 700, $size: 16, $color: #868686);
        text-align: center;
    }
}

.owl-int-galeria {
    @include setaOwl($bgPass: $black);
    position: relative;

    .owl-nav {
        display: block;
    }
}

.galeria {
    position: relative;
    margin: 0;
    height: rem(185);

    background: #424242;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(sm){
        height: rem(305);
    }

    @include respond-to(md){
        height: rem(520);
    }

    @include respond-to(lg){
        height: rem(715);
    }

    @include e('tit'){
        @include typography($bold: 700, $size: 18, $color: $white, $txt-t: $u);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(30);
        color: $white;
        background-color: rgba($black, .7);
        text-align: center;
    }

    img {
        // @include size(1920px $i, 715px $i);
        width: auto $i;
        height: 100% $i;
        object-fit: cover;
    }
}

.plantas {
    position: relative;
    min-height: 500px;
    overflow: hidden;

    @include e('thumb'){
        @include mask($opacidade: .6);
        @extend %centerPositionAll;
        height: 500px;
        z-index: 1;

        &:after {
            @include size(100%);
            content: '';
            background: url('../images/pattern.png');
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            opacity: .2;
        }
    }

    @include e('desc'){
        @extend %centerPositionAll;
        z-index: 2;
        text-align: center;
        color: $white;
        width: 90%;
        max-width: rem(500);
    }

    @include e('tit'){
        @include typography($bold: 600, $size: 20, $color: $white, $txt-t: $u);
        margin: 0;
        line-height: 1.2;
        letter-spacing: rem(.7);
        margin-bottom: rem(50);

        @include respond-to(sm){
            font-size: rem(39);
        }
    }

    @include e('nav'){
        display: flex;
        flex-direction: column;

        @include respond-to(sm){
            flex-direction: inherit;
        }
    }

    @include e('btn'){
        @include btn('medium', $white, $cor-primaria, true);
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: rem(10);

        &:not(:last-child()){ margin-right: rem(20); }
    }
}

.imagem-360{

	@include span(1);
	position: relative;
}

.form-interesse {
    @extend %d-table;
    padding: rem(40) 0 rem(100);
}

.local {
    position: relative;
    min-height: 487px;

    @include e('thumb'){
        @include mask($opacidade: 1, $bg: #800000);
        @extend %centerPositionAll;
        min-height: 487px;

        &:before {
            mix-blend-mode: multiply;
        }
    }

    @include e('infos'){
        @extend %centerPositionAll;
        text-align: center;
        color: $white;
    }

    @include e('icon'){
        @include circle(66px);
        display: inline-flex;
        align-items: center;
        margin-bottom: rem(20);
        justify-content: center;

        .icon {
            font-size: rem(40);
            color: $cor-primaria;
        }
    }

    @include e('tit'){
        @include typography($bold: 700, $size: 20, $color: $white, $txt-t: $u);
        letter-spacing: -1;
        margin: 0;

        @include respond-to(sm){
            font-size: rem(20);
        }
    }

    @include e('desc'){
        margin: rem(20) 0;

        @include typography($bold: 400, $size: 16, $color: $white);

        p { margin: 0; }
    }

    @include e('btn'){
        @include btn('big', $white, $cor-primaria, true);
    }
}

.ajax-load {
    position: relative;
    min-height: 500px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        z-index: 99;
        @include size(100%);
        background: #fff url('../images/ripple.svg') center no-repeat;
        animation: fadeIn .3s ease-in-out;
    }
}

#lead-modal {
    // .form--col-5 .wpcf7-form-control-wrap:last-child {
    //     margin-right: 0;
    // }
}

.form-interesse {


    .form--col-5 {

        textarea {
            height: 120px;
            margin-bottom: 20px;
            resize: none;
        }

        // span.ajax-loader {
     //     background-image: url(../images/rolling.svg) $i;
     //     margin-top: -70px $i;
     //     margin-left: -10% $i;
        //     height: 22px $i;
        //     width: 22px $i;
        // }

        .form__input--submit {
            margin: 0 auto;
        }
    }
}


#tabelas-modal {
    max-width: 375px;
    text-align: center;

    .tit-border {
        border: 0;
        margin-bottom: rem(5);
    }

    .header-tit__desc {
        margin-top: rem(10);
    }

    li {
        display: block;
        border-bottom: 1px solid #f5f5f5;
        padding: 8px;
        // margin-bottom: 8px;
        // text-align: left;

        i {
            color: $cor-primaria;
        }

        a {
            color: rgba($black, .4);

            &:hover {
                color: rgba($black, .8);
            }
        }
    }


}