.pages--fornecedores {
	margin-bottom: rem(80);
}

.fornecedores-pages {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;	
	flex-direction: column;

	@include respond-to(md){
		flex-direction: inherit;		
	}

	@include e('instrucoes'){
		max-width: 65%;		
	}

	@include e('download'){
		background-color: #f7f7f7;
		max-width: 100%;
		@include respond-to(md){
		max-width: 35%;
		}

		@include e('header'){
			padding: rem(25);

			.tit {
				margin: 0;
				@include typography($bold: 700, $size: 18, $txt-t: $u);

				&--destaque {
					color: $cor-primaria;
				}
				&--subtit {					
					color: #3c3d41;
				}
			}
		}
	}

	@include e('tit'){
		@include typography($bold: 700, $size: 20, $color: #3c3d41, $txt-t: $u);
		margin-top: 0;		
	}
}

.instrucoes {
	$spacingCircle: 42px;

	list-style-type: none;
	margin: ($spacingCircle/2);
	padding: 0;
	border-left: 2px solid $cor-primaria;	

	@include e('item'){
		@include centerFlexVertical();
		position: relative;
		counter-increment: instrucoes;
		margin-left: -($spacingCircle/2);

		@include typography($bold: 400, $size: 16, $color: #6f7072);
		letter-spacing: rem(.7);
		line-height: 1.2;
		
		& ~ & {
			padding-top: rem(60);
		}

		&:before {
			@include size($spacingCircle);
			@include centerFlex();
			content: counter(instrucoes);
			background-color: $cor-primaria;			
			flex-grow: 0;
			flex-shrink: 0;
			border-radius: 50%;
			margin-right: rem(15);

			@include typography($bold: 700, $size: 20, $color: $white);
		}
	}
}


.download {
	margin: 0;
	
	@include e('link'){
		@extend %transitionAll;
		@include centerFlexVertical();
		@include typography($bold: 400, $size: 16, $color: #5e5e5e);
		padding: rem(20) rem(25);
		border-left: 2px solid $t;
			
		&:hover, &.active {
			background-color: #ebebeb;
			border-color: $cor-primaria;
		}


		.icon { margin-right: rem(15); }
		b { font-weight: 400; }
	}
}