.col-text {
	$self: &;
	display: flex;
	align-items: center;
	flex-direction: column;

	& ~ & {
		margin-top: rem(60);
	}

	@include m('right'){
		flex-direction: column;
		@include respond-to(md){
			flex-direction: row-reverse$i;
		}

		@include e('desc', $self){
			padding-right: rem(60);
			padding-left: 0;
		}
	}

	@include e('desc'){
		@include typography($bold: 400, $size: 16, $color: #6f7072);
		line-height: 1.5;
		letter-spacing: rem(.7);
		padding-left: 0;
		@include respond-to(md){
			padding-left: rem(60);
		}
	}

	@include e('thumb'){
		margin: 0;
		max-width: 100%;

		img{
			max-width: 100%;

			@include respond-to(md){
				max-width: initial;
			}
		}

	}

	@include respond-to(md){
		flex-direction: inherit;
	}
}

.box-iframe {
	margin-top: rem(60);

	iframe {
		@include size(100%, 180px);

		@include respond-to(sm){
			height: 400px;
		}

		@include respond-to(md){
			height: 600px;
		}

		object-fit: cover;
	}

	@include m('pad'){
		padding-bottom: rem(80);
	}
}

.depoimentos {
	@extend %d-table;
	background-color: #f1f1f1;
	padding: rem(80) 0 rem(120);

	.header-tit {
		margin-bottom: rem(70);
	}

	@extend %owl-setas;
}

// items
.depoimento {
	text-align: center;

	@include e('mensagem'){
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@include typography($bold: 400, $size: 16, $color: #5e5e5e);
		letter-spacing: rem(.5);
		line-height: 1.2;

		&:before,
		&:after {
			@include size(59px, 42px);
			content: "";
			background: url('../images/aspas.png') center no-repeat;
			background-size: 42px 30px;
		}

		&:before {
			align-self: flex-start;
			margin-left: -30px;
			margin-bottom: -15px;
		}

		&:after {
			align-self: flex-end;
			margin-right: -30px;
			margin-top: -15px;
			transform: rotate(180deg);
		}
	}

	@include e('autor'){
		@include centerFlex();
		@include typography($bold: 400, $size: 14, $color: #5e5e5e);
		font-style: italic;
		margin-top: rem(20);
	}
}

// .parceiros {
// 	@extend %d-table;
// 	padding-bottom: rem(60);

// 	@extend %owl-setas;

// 	img {
// 		@extend %transitionAll;
// 		filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); Firefox 10+, Firefox on Android
// 	    filter: gray;
// 	    -webkit-filter: grayscale(100%);

//     	&:hover {
// 			filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
// 	    	-webkit-filter: grayscale(0%);
//     	}
// 	}
// }