.page-portfolio{
    width: 100%;
    float: left;
    background: #fff;

    .header-img{
        
        img{
            width: 100%;
            object-fit: cover;
        }


       
    }
}


.portfolio{
	width: 100%;
	float: left;
    margin-bottom: 30px;
}

.lista-portfolio{
	width: 100%;
    float: left;
    margin: 0 0 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    @include respond-to(sm){
        margin: 25px 0;
    }
    
    @include respond-to(md){
      
    }

    li{
        width: 100%;
        margin-bottom: rem(20);

        @include respond-to(sm){
            width: calc((100%/3) - 10px);
            margin-right: 10px;
        }

        @include respond-to(md){
            width: calc((100%/4) - 10px);
        }

    	figure{
    		margin: 0;
    		position: relative;

    		img{
    			width: 100%;
                height: 180px;
			    object-fit: cover;

                @include respond-to(sm){
                    height: 330px;
                }
                
                @include respond-to(md){
                  
                }
    		}
    	}
    }
}

.date-portfolio{
    background: rgba(0,0,0,.52);
    position: absolute;
    bottom: 4px;
    padding: 7px;
    width: 100%;
    
    @include respond-to(sm){
	   padding: 15px;
    }
    
    @include respond-to(md){
      
    }

    h3{
    	color: #fff;
    	margin: 5px 0;
        font-size: 11px;
        
        @include respond-to(sm){
            font-size: 16px;
        }
        
        @include respond-to(md){
          
        }

    }

    h5{
    	color: #fff;
    	margin: 0;
    }

   
}

.ano-portfolio{
    border-bottom: 2px solid #b80406;
    max-width: 100px;
    color: #2b2b2b;

    &:after{
        content: '';
        height: 5px;
        width: 50px;
        display: block;
        background: #b80406;
    }
}