.pages--responsabilidade {}

.respo-page {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: rem(120);
	flex-flow: column;

	@include respond-to(md){
		flex-flow: inherit;
	}

	@include e('content'){
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: column;

		@include respond-to(md){
			flex-direction: inherit;
		}
	}

	@include e('sidebar'){
		width: 100%;		
		
		@include respond-to(sm){
			width: 45%;
		}

		@include respond-to(md){
			width: 28%;
		}
	}
}

.resp-card {
	$self: &;
	$mDefault: 15;
	max-width: 100%;
	margin-bottom: rem(60);

	@include respond-to(sm){
		margin-right: 3%;		
	}

	@include respond-to(md){
		max-width: 30%;
	}

	@include e('thumb'){
		width: 100%;

		img {
			@extend %imgProp;
		}

		@include m('single'){
			height: 380px;
			overflow: hidden;
			position: relative;
			

			img {
				height: 100%;
				position: absolute;
				object-fit: cover;
				width: 100%;
			}			
		}

		@include m('noimage'){
			height: 380px;
			overflow: hidden;
			position: relative;

			img {
				height: 100%;
				position: absolute;
				object-fit: contain;
				width: 100%;
				background: #ebebeb;
			}
		}

	}

	@include e('tit'){
		@extend %transitionAll;
		@include typography($bold: 700, $size: 21, $color: #3c3d41);
		letter-spacing: rem(.7);
		margin: rem(15) 0;

		@include e('link'){
			color: #3c3d41;

			&:hover {
				color: darken(#3c3d41, 10%)
			}
		}
	}

	@include e('calendar'){
		@extend %tit-p-default;
		margin-top: rem($mDefault);
		display: flex;
		align-items: center;

		.icon {
			font-size: rem(20);
			color: $cor-primaria;
			margin-right: rem(10);
		}

		strong {
			font-weight: 400;
		}
	}

	@include e('desc'){
		@extend %tit-p-default;

		p { margin: 0; }
		p + p { margin-top: rem(20); }
	}

	@include e('btn'){
		@include btn();
		margin-top: rem($mDefault);
		padding-top: rem($mDefault);
		padding-bottom: rem($mDefault);
	}

	// MODIFICADOR SINGLE
	@include m('single'){
		max-width: 100%$i;
		border-bottom: 1px solid rgba($black, .2);
		padding-bottom: rem(60);
		margin-bottom: 0;		

		@include e('tit', $self){
			font-size: rem(36);
			color: #767676;
			margin: rem(30) 0;
		}

		@include e('desc', $self){
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	@include m('relacionado'){
		max-width: 33.3333%;
	}
}

.sidebar {
	$self: &;
	border: 1px solid rgba(#5e5e5e, .3);

	& ~ & {
		margin-top: rem(60);
	}

	@include e('img'){
		@extend %imgProp;
	}

	@include e('btn'){
		@include btn();
	}

	@include m('cta'){
		@include centerFlex();
		@include fd();
		border-color: $t;
		background-color: #9d0a0e;
		padding: rem(30) rem(40);
		color: $white;
		text-align: center;

		@include e('tit', $self){
			@include typography($bold: 700, $size: 24, $color: $white, $txt-t: $u);
			letter-spacing: rem(.5);
			line-height: 1.2;
		}
	}
}

.block-relacionados {
	@extend %d-table;

	@include e('flex'){
		display: flex;
		justify-content: space-between;
	}
}