.abas {
    @extend %d-table;
    display: none;
    // display: inline-block;

    @include respond-to(md) {
        display: block;
    }

    overflow: hidden;

    @include e('header') {
        @include centerFlex();
        @include fd();
        background-color: #e8e8e8;
        padding: rem(60) 0 0;

        @include m('branco') {
            background-color: $white;
        }
    }

    @include e('tit') {
        @include typography($bold: 700, $size: 24, $color: #3c3d41, $txt-t: $u);
        letter-spacing: rem(.5);
        margin: 0;
    }
}

.tab {
    $self: &;
    $border: 1px solid rgba(#dadada, .9);

    padding-right: rem(30);
    padding-left: rem(30);
    flex-direction: column;
    width: 100%;

    @include respond-to(sm) {
        flex-direction: initial;
    }

    @include centerFlex();
    margin: rem(50) 0 rem(80);

    @include e('item') {
        margin-bottom: rem(20);
        width: 100%;

        @include respond-to(sm) {
            margin-bottom: rem(50);
            width: auto;
        }

        &:first-child() {
            @include e('link', $self) {
                border-left: $border;
            }
        }

        &:last-child() {
            @include e('link', $self) {
                border-right: $border;
            }
        }
    }

    @include e('link') {
        @extend %transitionAll;
        @include typography($bold: 700, $size: 13, $color: #515356, $txt-t: $u);
        width: 100%;
        display: inline-block;
        text-align: center;
        letter-spacing: rem(.6);
        padding: rem(18) rem(35);
        background-color: #fff;
        border-top: $border;
        border-bottom: $border;

        @include respond-to(sm) {
            width: auto;
            display: inherit;
            font-size: rem(12);
            padding: rem(18) rem(12);
        }

        @include respond-to(md) {
            font-size: rem(13);
            padding: rem(18) rem(30);
        }

        @include respond-to(lg) {
            padding: rem(18) rem(50);
        }


        &:hover,
        &.active {
            background-color: $cor-primaria;
            color: $white;
            border-color: $cor-primaria;
        }
    }

    // MODIFICADOR:
    @include m('cinza') {

        @include e('link', $self) {
            color: #515356;
            background-color: #eee;
            border-color: $t;

            &:hover,
            &.active {
                background-color: $cor-primaria;
                color: $white;
                border-color: $cor-primaria;
            }
        }
    }
}

.owl-emp-gal {
    padding: rem(60) 0;

    .owl-dots {
        margin-top: rem(40);

        .owl-dot {
            @include size(10px);
            background-color: #cbcbcb;
            border: 0;

            &.active {
                background-color: #909090;
            }
        }
    }

    @include seta(20px, 2px, #a0a0a0, $t);

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        left: -60px;
        transform: translateY(-50%);

        &:hover {

            &:after {
                border-color: $cor-primaria;
            }
        }
    }

    .owl-next {
        left: auto;
        right: -60px;
    }
}

.emp-gal {
    $self: &;
    $pdd: 5px;
    $hImg: 310px;

    @include e('headline') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: ($pdd*2) $pdd ($pdd*3);

        @include respond-to(md) {
            flex-direction: inherit;
        }
    }

    @include e('logo') {
        flex-basis: 30%;
        margin: 0 rem(25) 0 0;

        @include size(125px);

        img {
            width: auto $i;
            max-width: 100%;
            height: auto;
            padding-right: $pdd;
        }
    }

    @include e('infos') {
        flex-basis: 70%;
    }

    @include e('tit') {
        @include typography($bold: 700, $size: 16, $color: #6f7072, $txt-t: $u);
        letter-spacing: rem(.5);
        margin: 0;

        @include e('link') {
            @extend %transitionAll;
            color: #6f7072;

            &:hover {
                color: darken(#6f7072, 15%);
            }
        }

        &~#{$self}__desc {
            margin-top: rem(8);
        }
    }

    @include e('desc') {
        @include typography($bold: 400, $size: 16, $color: #6f7072);
        letter-spacing: rem(.5);

        p {
            margin: 0;
        }
    }

    @include e('images') {
        display: flex;
        flex-direction: column;

        @include e('big') {
            display: flex;
            align-items: center;
            padding: $pdd $pdd 0 0;
            min-height: $hImg;

            img {
                width: 100%;
                min-height: $hImg;
                object-fit: cover;
            }
        }

        @include e('thumbs') {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            @include e('col') {
                flex: 1 1 calc(100%/4);
                min-height: 120px;
                padding: $pdd $pdd $pdd 0;
            }

            img,
            a {
                @include size(100% $i);
                object-fit: cover;
            }
        }

        @include e('btn') {
            @extend %transitionAll;
            @include centerFlex();
            @include typography($bold: 700, $size: 18, $color: $white, $txt-t: $u);
            letter-spacing: rem(.5);
            background-color: $cor-primaria;
            padding: rem(20);
            text-align: center;

            &:hover {
                opacity: .9;
            }
        }
    }

    .icones {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &__icon {
            min-width: 30px;
        }

        &__item {
            width: 50%;
            color: #4e4e4e;
            margin: 0;
        }

        &__tit {
            font-size: rem(13);
            color: #949494;
        }
    }
}

.emp-grid {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    flex-wrap: wrap;
    margin-bottom: rem(60);
    flex-direction: column;

    @include respond-to(sm) {
        flex-direction: inherit;
    }
}

.ajax-load {
    .emp-vert {
        opacity: 0;
        transition: all .2s ease-in;
    }
}

.emp-vert {
    opacity: 1;
    transition: all .5s ease-in;
    $self: &;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    padding-bottom: 10px;


    background-color: #f7f7f7;
    box-shadow: 0px 0px 30px rgba($pretoC, 0.3);


    // margin-bottom: rem(60);
    // border: 1px solid rgba( $cinza1, 0.3);
    // @include respond-to(sm) {
    //     max-width: calc(100% / 3);
    // }

    flex: none;

    .icones {
        margin-bottom: rem(30);
        width: 100%;
        display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px 10px;

        .icon {
            color: $cor-primaria;
            width: 10%;
        }

        &__tit {
            font-size: .8125rem;
            color: #949494;
            width: 90%;
            text-align: center;
        }

        @include e('item') {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
    }

    @include e('logo') {
        @include size(120px);
        justify-content: center;
        // margin-bottom: rem(20);
        display: flex;

        img {
            max-width: 100%;
            width: auto $i;
            height: auto;
            flex: none;
        }
    }

    @include e('thumb') {
        position: relative;
        @include centerFlex();
        width: 100%;

        @include mask($opacidade: .5);

        &:before {
            @extend %transitionAll;
            opacity: 0;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .emp-vert__thumb__btn {
                transform: translate(-50%, -50%);
                z-index: 99;
                opacity: 1;
            }
        }

        img {
            @include centerFlex();
            @include size(100%, 100%);
            object-fit: cover;
        }

        @include e('btn') {
            @include btn-t();
            text-align: center;
            padding: rem(15) rem(30);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);

            z-index: -1;
            opacity: 0;

            transition: all .2s ease-in-out;
        }
    }

    @include e('infos') {
        text-align: center;
        width: 90%;
    }

    @include e('preco') {
        @include typography($bold: 700, $size: 16, $color: #6f7072, $txt-t: $u);
        text-align: center;
        letter-spacing: rem(.7);
    }

    @include e('tit') {
        @include typography($bold: 700, $size: 16, $color: #6f7072, $txt-t: $u);
        letter-spacing: rem(.7);

        @include e('link') {
            @extend %transitionAll;
            color: #6f7072;
            font-size: rem(22);

            &:hover {
                color: darken(#6f7072, 15%);
            }
        }
    }

    @include e('btn') {
        @include btn();
        padding-top: rem(12);
        padding-bottom: rem(12);
        justify-content: center;
    }


    @include m('avulsos') {
        @include e('thumb', $self) {
            max-height: 200px;
            overflow: hidden;
            position: relative;

            img {
                display: block;
                width: 100%;
                height: 198px;
                object-fit: cover;
            }
        }
    }

    @include m('cariri') {
        @include e('thumb', $self) {
            &:hover {
                &:before {
                    opacity: 0 $i;
                }
            }
        }
    }
}

.pages--empreendimento {

    // .emp-grid {
    // 	margin-right: auto;
    // 	margin-left: auto;
    // 	display: block;
    // }

    .container {}

    .emp-vert {
        width: 100%;
        // max-width: 317px;
    }

    .ajax-load {
        min-height: 250px;

        &:before {
            background-position: center 100px;
        }
    }
}

// .isotope-pager {
// 	display: none;
// 	margin: rem(30) auto;
// 	text-align: center;
// }