.barra-top {
    display: none;
    background-color: $cor-primaria;
    box-shadow: 0 15px 30px 0 rgba($black, .2);
    height: 66px;
    > .container {
        margin-bottom: rem(-4);
    }
    
    @include respond-to(md){
        display: block;
    }

    &.is-fixed {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
    }

    @include e('flex'){ display: flex; }

    @include e('item'){
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;

        @include m('tel'){
            flex-basis: 50.3333%;

            @include respond-to(lg){
                flex-basis: 53.3333%;
            }

            address:first-child(){
                border-right: 1px solid rgba($black, .2);
            }
        }

        @include m('whats'){
            flex-basis: 26.33333%;

            @include respond-to(lg){
                flex-basis: 23.33333%;                
            }
        }

        @include m('chat'){
            flex-basis: 23.33333%;
            cursor: pointer;
            // display: none;
        }
    }

    @include e('icon'){
        font-size: rem(28);
        background-color: rgba($black, .15);
        color: $white;
        padding: rem(18) rem(25);
    }

    @include e('desc'){
        width: 100%;
        display: flex;

        address {
            padding: rem(10) rem(18);
            width: 100%;
            font-style: normal;
            color: $white;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    @include e('tit'){
        display: block;
        font-size: rem(11);
        margin-bottom: rem(3);

        @include respond-to(lg){
            font-size: rem(15);
        }
    }

    @include e('tit2'){
        font-size: rem(15);
        line-height: 1;

        a{
            color: #fff!important;
        }
        @include respond-to(lg){
            font-size: rem(22);
        }
    }
}