.cta-resp {
	@extend %d-table;
	overflow: hidden;
	position: relative;
	min-height: 500px;

	@include e('thumb'){
		height: 500px;
		position: relative;
		@include mask($opacidade: .65);

		img {
			@extend %centerPositionAll;
			left: -200px;

			@include respond-to(sm){
				left: 0%;
			}

			@include respond-to(md){
				left: 50%;
			}
		}
	}

	@include e('infos'){
		@extend %centerPositionAll;
		text-align: center;
		width: 90%;
		z-index: 9;

		@include respond-to(sm){
			max-width: rem(680);
		}

		@include respond-to(md){
			max-width: rem(700);
		}

		@include respond-to(lg){
			max-width: 570px;
		}
	}

	@include e('tit'){
		@include typography($bold: 700, $size: 20, $color: $white, $txt-t: $u);
		letter-spacing: rem(.7);
		text-shadow: 0 0 20px rgba($black, .3);

		@include respond-to(sm){
			font-size: rem(41);
		}
	}

	@include e('desc'){
		@include typography($bold: 400, $size: 17, $color: $white);
		letter-spacing: rem(.7);
		line-height: 1.5;
	}

	@include e('btn'){
		@include btn();
		margin-top: rem(25);
	}
}