.cta-corretor {
	@extend %d-table;
	overflow: hidden;
	background-color: #b60a09;
	color: $white;
	padding: rem(30) 0;

	@include e('flex'){
		flex-direction: column;
		@include respond-to(md){
			flex-direction: inherit;
		}
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	@include e('tit-box'){
		@include centerFlex();
		max-width: 400px;
		margin-bottom: rem(20);

		@include respond-to(md){
			margin-bottom: rem(0);
		}

		.icon {
			display: none;
			font-size: rem(45);
			font-weight: 300;
			padding-right: rem(30);
			opacity: .8;

			@include respond-to(md){
				display: inline-block;
			}
		}

		&:after {
			@include size(20px);
			display: none;
			content: '';
			flex: 1 0 20px;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
			transform: rotate(-45deg);

			@include respond-to(md){
				display: inline-block;
				margin-right: rem(20);
			}

			@include respond-to(lg){
				margin-right: rem(0);
			}
		}
	}

	@include e('tit'){
		@include typography($bold: 900, $size: 32, $color: $white);
		letter-spacing: rem(1);
		line-height: 1;
		margin: 0;
		text-align: center;

		@include respond-to(md){
			@include typography($bold: 900, $size: 28, $color: $white);
			padding-right: rem(50);
			text-align: left;
		}

		@include respond-to(lg){
			@include typography($bold: 900, $size: 32, $color: $white);
			text-align: left;
		}

	}

	@include e('desc'){
		@include typography($bold: 400, $size: 14, $color: $white);
		max-width: 350px;
		line-height: 1.3;
		letter-spacing: rem(1);
		margin-bottom: rem(20);
		text-align: center;

		@include respond-to(md){
			margin-bottom: rem(0);
			text-align: left;
		}

		p { margin: 0; }
	}

	@include e('btn'){
		@include btn($bg: #ef3a39);
		padding-right: rem(80);
		padding-left: rem(80);
	}
}

// .seta {
// 	@include size(20px);
// 	border-right: 1px solid $white;
// 	border-bottom: 1px solid $white;
// 	transform: rotate(-45deg);
// }