.cta-unidade {
	display: table;
	width: 100%;
	background-color: $cor-primaria;
	color: $white;
	padding: rem(40) 0;

	@include e('flex'){
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	.icon {
		font-size: rem(40);
		align-self: flex-start;
		margin-top: rem(5);
		padding-right: rem(15);
	}

	@include e('tit'){
		@include typography($bold: 700, $size: 33, $color: $white);
		margin: 0;
		line-height: 1;
		letter-spacing: -2px;
		max-width: 384px;
		padding-right: rem(15);
	}

	@include e('desc'){
		@include typography($size: 15, $color: $white);
		max-width: 430px;
		
		p { margin: 0; }
	}
	@include e('btn'){
		@include btn();
		text-align: center;
    	padding: rem(15) rem(40);	
	}
}