.cta {
	@extend %d-table;
	overflow: hidden;
	position: relative;
	min-height: 478px;

	@include e('flex'){
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 478px;

		@include respond-to(md){
			justify-content: flex-end;
		}
	}

	@include e('infos'){
		position: relative;
		z-index: 9;
		max-width: 80%;
		display: flex;
		flex-direction: column;

		@include respond-to(md){
			max-width: 408px;
		}
	}

	@include e('tit'){
		@include typography($bold: 900, $size: 24, $color: $white, $txt-t: $u);
		margin-top: 0;
		letter-spacing: rem(.5);
		text-align: center;

		@include respond-to(md){
			@include typography($bold: 900, $size: 24, $color: #3c3d41, $txt-t: $u);
			text-align: justify;
		}
	}

	@include e('desc'){
		@include typography($bold: 500, $size: 17, $color: $white);
		letter-spacing: rem(.5);
		line-height: 1.3;
		text-align: center;

		@include respond-to(md){
			@include typography($bold: 500, $size: 17, $color: #3c3d41);
			text-align: justify;
		}

		 p { margin: 0; }
	}

	@include e('btn'){
		@include btn($bg: $cor-primaria);
		padding-top: rem(18);
		padding-bottom: rem(18);

		margin-top: rem(40);
		align-self: center;

		@include respond-to(md){
			align-self: flex-end;
		}

		&:hover { opacity: .9; }
	}

	@include e('thumbs'){
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;

		&:after {
			content: "";
			@include size(100%);
			background: rgba($black, .65);
			position: absolute;

			@include respond-to(md){
				display: none;
			}
		}

		img {

			position: absolute;
		    object-fit: cover;
		    width: auto;
		    height: 100%;
		    left: -200%;

		    @include respond-to(sm){
				left: -40%;
		    }

		    @include respond-to(lg){
				left: 50%;
				top: 50%;
			    transform: translate(-50%,-50%);
		    }
		}
	}
}