.cta-download {
	@extend %d-table;
	overflow: hidden;
	background-color: #b60a09;
	color: $white;
	padding: rem(30) 0;
	margin-top: rem(60);

	@include e('flex'){
		display: flex;
		flex-direction: column;
    	text-align: center;
		align-items: center;
		justify-content: space-between;

		@include respond-to(sm){
			flex-direction: inherit;
			text-align: left;
		}

	}

	@include e('tit-box'){
		@include centerFlex();
		max-width: 320px;

		.icon {
			display: none;
			font-size: rem(45);
			font-weight: 300;
			padding-right: rem(30);
			opacity: .8;

			@include respond-to(sm){
				display: inline-flex;
			}
		}

		&:after {
			display: none;
		}

		@include respond-to(md){
			&:after {
			@include size(20px);
			content: '';
			flex: 1 0 20px;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
			transform: rotate(-45deg);
			display: block;
			}
		}

	}

	@include e('tit'){
		@include typography($bold: 900, $size: 30, $color: $white);
		letter-spacing: rem(1);
		line-height: 1;
		margin: 0 0 rem(30) 0;

		@include respond-to(sm){
			margin: 0;
			padding-right: rem(50);
		}
	}

	@include e('desc'){
		@include typography($bold: 400, $size: 14, $color: $white);
		max-width: 240px;
		line-height: 1.3;
		letter-spacing: rem(1);

		p { margin: 0; }
	}

	@include e('btn'){
		@include btn($bg: #e82a2c);
		padding: rem(10) rem(20);
		border: 1px solid #fb4544;
		letter-spacing: rem(.5);
		min-width: 205px;

		display: inline-flex;
		align-items: center;
		justify-content: center;

		img { margin-right: rem(15); }

		&:not(:last-child){
			margin-right: rem(20);
		}
	}
}
