.destaques {
	@extend %d-table;
	display: block;
	overflow: hidden;
	padding: rem(60) 0;
	@include respond-to(md){

	}
}

.btn-ver-outras {
	@extend %transitionAll;
	@include typography($bold: 900, $size: 14, $color: $cor-primaria, $txt-t: $u);
	letter-spacing: rem(.5);
	display: none;

	@include respond-to(md){
		display: inline-block;
	}

	&:after {
		@extend %transitionAll;
		content: '>';
		margin-left: rem(6);
		font-size: rem(16);
	}

	&:hover {
		color: darken($cor-primaria, 5%);

		&:after {
			margin-left: rem(10);
		}
	}
}

.emp {
	$self: &;
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
		
	@include respond-to(sm){
		
		flex-direction: inherit;
	}
	// espaçamentos
	& ~ .btn-group {
		margin-top: rem(60);
	}

	@include e('cat'){
		@include typography($bold: 700, $size: 15);
		padding: rem(10) rem(20);
		background-color: $white;
		color: var(--color);
		display: none;

		@include respond-to(sm){
			display: inline-flex;
		}
	}
	
	@include e('tit'){
		@include typography($bold: 700, $size: 18, $color: $white);
		letter-spacing: rem(1);
		margin: rem(8) 0;

		@include respond-to(sm){
			font-size: rem(22);
			margin: rem(20) 0;
		}

		@include respond-to(md){
			font-size: rem(25);
		}

		@include respond-to(lg){
			font-size: rem(33);
		}

		@include e('link'){
			@extend %transitionAll;
			color: $white;

			&:hover {
				opacity: .8;
			}
		}
	}

	@include e('infos'){
		width: 100%;
		padding: rem(10) rem(15);
		background: $pretoC;
		@include respond-to(sm){
			padding: rem(30) rem(60) rem(60) rem(40);
			min-height: rem(225);
			width: 40%;
		}

		@include respond-to(md){
			min-height: rem(350);
			width: 32%;
		}
	}

	@include e('galeria'){
		width: 100%;
		height: rem(125);

		@include respond-to(sm){
			width: 60%;
			min-height: rem(225);
		}

		@include respond-to(md){
			min-height: rem(300);
			height: auto;
			width: 68%;
		}
	}

	@include e('owl'){
		height: 100%;

		img {
			height: 100% $i;
			// width: auto $i;
			width: 100% $i;
			object-fit: cover;
		}

		// owl
		.owl-stage-outer,
		.owl-stage,
		.owl-item {
			height: 100%;
		}

		.owl-controls {
			position: absolute;
			left: 0;
			bottom: 0;
			@include size(100px, 50px);
			background-color: red;
			@include respond-to(md){
				left: -50px;
			}

		}

		.owl-nav {
			display: flex;
			align-items: center;

			@include seta($bg: #537828);

			.owl-prev, .owl-next{
				border: 1px solid rgba(253, 253, 253, 0.3803921568627451);
				background: var(--color);

				&:hover{
					opacity: 0.6;
					background: var(--color);

				}
			}
		}
	}

	// MODIFICADORES
	@include m('right'){
		flex-direction: column;

		@include respond-to(sm){
			flex-direction: row-reverse;
		}

		// @include e('infos', $self){ background-color: #1073b5; }

		@include e('cat', $self){ color: #1073b5; }

		@include e('owl', $self){
			@include respond-to(md){
				.owl-controls { left: auto; right: 0px; }
				.owl-controls { left: auto; right: -50px; }
			}
			.owl-nav { @include seta($bg: #07477a); }
		}
	}
}

.icones {
	margin: 0;
	display: none;

	@include respond-to(md){
		display: inline-block;
	}

	@include e('item'){
		display: flex;
		align-items: center;
		margin-bottom: rem(3);
		color: $white;

		&:first-child {
			.icones__icon {
				margin-left: 3px;

				.icon { font-size: rem(20); }
			}
		}
	}

	@include e('tit'){
		@include typography($bold: 400, $size: 15, $color: $white);
		margin: 0;
	}

	@include e('icon'){
		min-width: 40px;
		font-size: rem(18);
	}

	.icon {
		font-size: rem(16);
	}
}


.btn-group {
	@include centerFlex();
	margin: 0;
}