$s-rdp: 60;

.rdp {
    width: 100%;
    display: table;
    background-color: $pretoC;
    padding: 0;
    padding-top: rem(40);

    @include respond-to(md) {
        padding-top: 0;
    }

    .menu-menu-rodape-cliente-container~.tit-border {
        margin-top: rem(15);
    }

    .logo {
        margin: 0 0 rem(20) 0;
        text-align: center;

        @include respond-to(sm) {
            text-align: left;
            margin: 0 0 rem(20) rem(45);
        }
    }

    @include e('flex') {
        flex-direction: column;

        @include respond-to(md) {
            align-items: stretch;
            display: flex;
            flex-direction: inherit;
            justify-content: space-between;
        }
    }

    @include e('infos') {
        padding-top: rem(50);
        padding-bottom: rem(50);
        width: 100%;
        display: none;

        @include respond-to(md) {
            display: block;
            border-right: 1px solid rgba($white, .2);
            width: 28%;
        }

        @include m('mobile') {
            display: block;
            width: 100%;
            background-color: darken(#2b2b2b, 5%);
            display: block;
            text-align: center;
            padding-bottom: rem(20);
        }
    }

    @include e('menus') {
        width: 100%;
        text-align: center;
        display: none;

        @include respond-to(sm) {
            display: block;
        }

        @include respond-to(sm) {
            text-align: left;
        }

        @include respond-to(md) {
            width: 72%;
        }

        @include m('mobile') {
            width: 100%;
            display: none;

            @include respond-to(sm) {
                display: block;
            }
        }
    }

    @include e('end') {
        display: flex;
        align-items: flex-start;
        text-align: center;

        @include respond-to(sm) {
            text-align: left;
        }

        .icon {
            font-size: rem(30);
            color: $white;
            display: none;

            @include respond-to(sm) {
                display: inline-block;
            }
        }
    }

    @include e('end-itens') {

        .end {
            font-style: normal;
            padding: 0 rem(20) rem(20);

            strong {
                @include typography($bold: 700, $size: 18, $color: $white);
                display: block;
                margin-top: rem(8);
            }

            a {
                color: $white;

                &:hover {
                    color: $cor-primaria;
                }
            }
        }

        p {
            @include typography($bold: 400, $size: 14, $color: #b5b5b5);
            margin: 0;
            letter-spacing: rem(.5);
            line-height: 1.5;
        }
    }

    @include e('cred') {
        @extend %d-table;
        background-color: #2b2b2b;
        padding: rem(8) 0;

        @include e('flex') {
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to(md) {
                justify-content: space-between;
            }
        }

        p {
            font-size: rem(14);
            color: #7c7c7c;
            margin: 0;
            text-align: center;

            @include respond-to(md) {
                text-align: left;
            }
        }
    }
}

.menu-rdp {

    flex-direction: column;

    @include respond-to(sm) {
        align-items: flex-start;
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
    }

    @include respond-to(md) {
        padding: rem(30) 0 rem(30) rem(50);
    }

    .menu-item-has-children {

        >a {
            @include typography($bold: 700, $size: 16, $color: #e0e0e0, $txt-t: $u);
            letter-spacing: rem(.7);

            @include respond-to(sm) {
                font-size: rem(12);
            }

            @include respond-to(md) {
                font-size: rem(13);
            }

            @include respond-to(lg) {
                font-size: rem(16);
            }

            &:after {
                content: '';
                display: none;
                border-bottom: 3px solid $cor-primaria;
                max-width: 40px;
                margin-top: rem(20);
                margin-bottom: rem(35);

                @include respond-to(sm) {
                    display: block;
                }
            }
        }
    }

    a {
        @extend %transitionAll;
        @include typography($bold: 400, $size: 13, $color: #b5b5b5, $txt-t: $u);
        display: block;
        margin-bottom: rem(20);
        letter-spacing: rem(1);

        @include respond-to(sm) {
            font-size: rem(11);
        }

        @include respond-to(lg) {
            font-size: rem(13);
        }

        &:hover {
            color: $white;
        }
    }
}

.btn-resp-rdp {
    width: 100%;
    background-color: #8e8e8e;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 rem(30);
    padding: rem(14);
    border-radius: rem(5);
    text-align: center;
    display: block;
    cursor: pointer;

    @include respond-to(sm) {
        display: none;
    }
}

.cred {
    @extend %boxFull;
    text-align: center;
    padding: rem(10) 0;

    .cred__logo {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        width: fit-content;
        margin: 0 auto;

        .empresa {
            width: 100px;
            height: 35px;
            font-size: 90px;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            @extend .icon-logo-cvtt;
            transition: all 1s ease-in;
         
        }


        &:hover{
            .empresa {
                transition: all 1s ease-in;


                background: linear-gradient(75deg,#00a69c,#2572fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

}