.topo {
	@extend %d-table;
	border-top: rem(3) solid $cor-primaria;
	border-bottom: rem(1) solid #dadada;
    padding-bottom: rem(30);

    @include respond-to(md){
        padding-bottom: 0;
    }

	@include tablet(){
		@include fd('row');
	}

	@include e('flex'){
		width: 100%;
		flex-direction: column;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@include respond-to(md){
			flex-direction: inherit;
		}
	}

	@include e('logo'){
		text-align: center;
		margin-bottom: 0;

		@include respond-to(sm){
			margin: rem(25) 0;
		}

		@include respond-to(md){
			width: 100%;
			flex: 0 0 20%;
			margin: rem(25) 0;
		}

	}

	@include e('infos'){
		//position: relative;
    	//bottom: -143px;
    	//z-index: 999;
		@include fd();
		@include span(1);
		display: flex;

		@include respond-to(md){
			flex: 0 0 80%;
		}

		justify-content: space-between;
	}

	@include e('action'){
		display: none;
		align-items: stretch;
		justify-content: flex-end;
		min-height: rem(52);
		flex-direction: column;
		
		@include respond-to(sm){
			display: flex;
		}

		@include respond-to(md){
			display: flex;
			flex-direction: initial;
		}
	}

	@include e('menuD'){
        display: none;
        align-items: center;
        justify-content: space-between;

        @include respond-to(sm){
            display: flex;
        }
    }

    @include e('menu'){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: rem(20);

        @include respond-to(sm){
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            margin-bottom: rem(20);
            top: rem(10);
        }

        @include respond-to(md){
            width: auto;
            margin-bottom: rem(0);
            top: rem(0);
        }
    }
	@include e('resp'){
		display: inline-block;
   	 	text-align: center;
    	float: right;
    	width: 95%;
    	max-width: 69%;

        @include respond-to(md){
		  display: none;
		}
	}

	@include e('icon'){
		color: #000;
	    cursor: pointer;
	    margin: 1.25rem auto 0;
	    display: inline-block;
	    position: relative;
	    z-index: 999;
	    padding: 8px 15px;
	    font-size: .875rem;
	    border: 1px solid #000;
	    float: right;
	    border-radius: 3px;
	}
	 //MENU-TOGGLE
  @include e('toggle'){
  //on activation
    float: right;
    height: 40px;
    margin: 0;
    position: fixed;
    right: rem(20);
    top: rem(20);
    background-color: $white;
    padding: rem(8) 0 0 rem(6);
    width: 41px;
    z-index: 9999;

      .toggle{
        background-color: transparent;
        border-radius: 7px; position:relative; z-index:999;
        height: 17px;
        margin:5px 11px;
        padding: 24px 13px 24px;
        width:53px;
      }

      &.on span{
        background-color: transparent;
      }

      &.on{
        background-color:#fff;
      }

      &.on span{

        &:before{
          background-color: $vermelho;
          transform: rotate(45deg) translate(9px, 9px);
        }
      }

      &.on span{

        &:after{
          background-color: $vermelho;
          transform: rotate(-45deg) translate(7px, -8px);
        }
      }

      &.on + .topo__menuD{
        @include size(100%);
        display: flex;
        opacity: 1;
        visibility: visible;
        background: #fff;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;

        .btn-search {
            display: none;
        }
      }

      span {
        background-color: $vermelho;
        display: block;
        height: 6px;
        left: -1px;
        position: relative;
        top: 10px;
        width: 31px;

          &:after,
          &:before {
            background-color: $vermelho;
            border-radius: 1px;
            content: "";
            height: 6px;
            left: 0;
            position: absolute;
            top:-12px;
            transition: all 0.3s; backface-visibility:hidden;
            width: 31px;
          }

          &:after{
            top:12px;
          }
      }

    @include respond-to(sm){
      display: none;
    }
  }
}

.box-form {
    display: flex;
    justify-content: center;

	@include respond-to(md){
		position: relative;
	}
}

.btn-area {
	$default-spacing-btn: 9;

	@extend %transitionAll;
	@include centerFlex();
	@include typography($bold: 700, $size: 13, $color: $white, $txt-t: $u);
	background-color: $cor-primaria;
	padding: rem(18) rem(40) rem(15);
	position: relative;
	letter-spacing: rem(1);
	margin-top: rem(-3);
	width: 100%;
    max-width: rem(300);


	.icon {
		font-size: rem(16);
		margin-right: rem($default-spacing-btn);
	}

	&:after {
		@extend %transitionAll;
		display: inline-flex;
		content: '';
		border: {
			width: rem(8) rem(4);
			style: solid;
			color: $white $t $t $t;
		}
		margin-left: rem($default-spacing-btn);
		margin-bottom: -7px;
	}

	&:hover {
		opacity: .85;

		&:after {
			transform: rotate(90deg);
			margin-bottom: rem(2);
		}
	}

	&.active {
		&:after {
			transform: rotate(180deg);
			margin-bottom: rem(7);
		}
	}

	@include e('cliente'){
		@include m('logado'){
			&:after {
				display: none;
			}
		}
	}

	@include e('corretor'){
		background-color: #9d0a0e;
	}
	@include respond-to(md){
		width: auto;
	}
}

.btn-search {
	@extend %transitionAll;
	color: #3c3d41;
	font-weight: bold;
	padding: rem(20);

	&:hover {
		color: $cor-primaria;
	}
}

.midia {
	$self: &;
	// @extend %dFlexInline;
    margin: 0;
    display: none;
    justify-content: center;

    //position: relative;
    //right: 18px;
    @include respond-to(md){
        position: inherit;
        display: inline-flex;
        right: 0;
	}

	@include e('link') {
		@extend %transitionAll;
		@include typography($size: 17, $color: #3c3d41);
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding: rem(11);

		&:hover,
		&:focus {
			color: $white;
			background-color: $cor-primaria;
		}
	}

	@include m('cinza'){

		@include e('link', $self){
			color: #7c7c7c;

			&:hover,
			&:focus {
				background-color: $t;
				color: $white;
			}
		}
	}
}


.area-cliente-box {
	@include view(xs);
	position: relative;
	float: left;
	width: 100%;
	background: #e21b39;
	height: 53px;

	.btn-area {
		margin-top: 0;
	}

	.form--login.is-active {
	    left: 0;
	    width: 100%;
	    top: 53px;
	    opacity: 1;
	    z-index: 99;
	}
}