//blog
.#{$prefix}-header {
  @include e('logo') {
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include e('container') {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  @include e('top') {
    border-bottom: 1px rgba($cinza2, 0.2) solid;

    .wrap {
      @extend .container;
      align-items: center;
      justify-content: flex-end;
      display: none;

      @include respond-to('sm') {
        display: flex;
      }

      a {
        color: $cinza1;
        display: flex;
        align-items: center;
        font-weight: 100;

        &:hover {
          color: $cinza1;
        }
      }

      .midia--cinza {
        @include respond-to('sm') {
          display: flex;
        }
      }

      .cliente {
        margin-right: 10px;
        font-size: rem(15);

        &:before {
          content: '\0047';
          @extend .icon-glyphter;
          margin-right: 10px;
        }
      }



    }

    #area-do-cliente {
      right: 0%;
      left: auto;
      top: 40px;
      transform: translateX(-50%);
      position: fixed;
    }
  }

  .wr-menu {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  .dn-mobile {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }
}


// <header class="wr-headline wr-headline--left">
// <span class="wr-headline__line">
//     assista ao vídeo
// </span>
// <h3 class="wr-headline__title">
//     Descubra uma nova versão de você.
// </h3>
// </header>


.#{$prefix}-headline {
  color: rgb(90, 90, 90);
  $self: &;

  @include m('white') {
    @include e('line', $self) {
      color: #fff;

      &:before {
        background-color: #fff;
      }
    }

    @include e('title', $self) {
      color: #fff;
    }
  }

  @include m('center') {
    @include e('line', $self) {
      justify-content: center;
    }

    @include e('title', $self) {
      text-align: center;

      @include respond-to(md) {


        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  @include e('line') {
    color: $vermelho;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    justify-content: left;

    &::before {
      content: '';
      height: 3px;
      width: 30px;
      background-color: $vermelho;
      display: flex;
      margin-right: 5px;
    }
  }

  @include e('subtitle') {
    color: $cinza1;
    font-weight: 200;
    font-size: rem(15);
  }

  @include e('title') {
    font-size: rem(25);
    font-weight: 500;
    margin: 10px 0;
    line-height: 1.2;
    color: $pretoC;

    @include respond-to(md) {
      font-size: rem(35);
      max-width: 550px;
    }

  }



}

.topo {
  @extend %d-table;
  border-top: rem(3) solid $cor-primaria;
  border-bottom: rem(1) solid #dadada;
  padding-bottom: rem(30);

  @include respond-to(md) {
    padding-bottom: 0;
  }

  @include tablet() {
    @include fd('row');
  }

  @include e('flex') {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include respond-to(md) {
      flex-direction: inherit;
    }
  }

  @include e('logo') {
    text-align: center;
    margin-bottom: 0;

    @include respond-to(sm) {
      margin: rem(25) 0;
    }

    @include respond-to(md) {
      width: 100%;
      flex: 0 0 20%;
      margin: rem(25) 0;
    }

  }

  @include e('infos') {
    //position: relative;
    //bottom: -143px;
    //z-index: 999;
    @include fd();
    @include span(1);
    display: flex;

    @include respond-to(md) {
      flex: 0 0 80%;
    }

    justify-content: space-between;
  }

  @include e('action') {
    display: none;
    align-items: stretch;
    justify-content: flex-end;
    min-height: rem(52);
    flex-direction: column;

    @include respond-to(sm) {
      display: flex;
    }

    @include respond-to(md) {
      display: flex;
      flex-direction: initial;
    }
  }

  @include e('menuD') {
    display: none;
    align-items: center;
    justify-content: space-between;

  }

  @include e('menu') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: rem(20);

    @include respond-to(sm) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      margin-bottom: rem(20);
      top: rem(10);
    }

    @include respond-to(md) {
      width: auto;
      margin-bottom: rem(0);
      top: rem(0);
    }
  }

  @include e('resp') {
    display: inline-block;
    text-align: center;
    float: right;
    width: 95%;
    max-width: 69%;

    @include respond-to(md) {
      display: none;
    }
  }

  @include e('icon') {
    color: #000;
    cursor: pointer;
    margin: 1.25rem auto 0;
    display: inline-block;
    position: relative;
    z-index: 999;
    padding: 8px 15px;
    font-size: .875rem;
    border: 1px solid #000;
    float: right;
    border-radius: 3px;
  }

  //MENU-TOGGLE
  @include e('toggle') {
    //on activation
    float: right;
    height: 40px;
    margin: 0;
    position: absolute;
    right: rem(20);
    top: 10px;
    background-color: $white;
    padding: rem(8) 0 0 rem(6);
    width: 41px;
    z-index: 9999;

    .toggle {
      background-color: transparent;
      border-radius: 7px;
      position: relative;
      z-index: 999;
      height: 17px;
      margin: 5px 11px;
      padding: 24px 13px 24px;
      width: 53px;
    }

    &.on span {
      background-color: transparent;
    }

    &.on {
      background-color: #fff;
      position: fixed;
    }

    &.on span {

      &:before {
        background-color: $vermelho;
        transform: rotate(45deg) translate(9px, 9px);
      }
    }

    &.on span {

      &:after {
        background-color: $vermelho;
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }

    &.on+.topo__menuD {
      @include size(100%);
      display: flex;
      opacity: 1;
      visibility: visible;
      background: #fff;
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .wr-btn {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 10px;


      }

      .btn-search {
        display: none;
      }
    }

    span {
      background-color: $vermelho;
      display: block;
      height: 6px;
      left: -1px;
      position: relative;
      top: 10px;
      width: 31px;

      &:after,
      &:before {
        background-color: $vermelho;
        border-radius: 1px;
        content: "";
        height: 6px;
        left: 0;
        position: absolute;
        top: -12px;
        transition: all 0.3s;
        backface-visibility: hidden;
        width: 31px;
      }

      &:after {
        top: 12px;
      }
    }

    @include respond-to(sm) {
      display: none;
    }
  }
}

.box-form {
  display: flex;
  justify-content: center;

  @include respond-to(md) {
    position: relative;
  }
}

.btn-area {
  $default-spacing-btn: 9;

  @extend %transitionAll;
  @include centerFlex();
  @include typography($bold: 700, $size: 13, $color: $white, $txt-t: $u);
  background-color: $cor-primaria;
  padding: rem(18) rem(40) rem(15);
  position: relative;
  letter-spacing: rem(1);
  margin-top: rem(-3);
  width: 100%;
  max-width: rem(300);


  .icon {
    font-size: rem(16);
    margin-right: rem($default-spacing-btn);
  }

  &:after {
    @extend %transitionAll;
    display: inline-flex;
    content: '';

    border: {
      width: rem(8) rem(4);
      style: solid;
      color: $white $t $t $t;
    }

    margin-left: rem($default-spacing-btn);
    margin-bottom: -7px;
  }

  &:hover {
    opacity: .85;

    &:after {
      transform: rotate(90deg);
      margin-bottom: rem(2);
    }
  }

  &.active {
    &:after {
      transform: rotate(180deg);
      margin-bottom: rem(7);
    }
  }

  @include e('cliente') {
    @include m('logado') {
      &:after {
        display: none;
      }
    }
  }

  @include e('corretor') {
    background-color: #9d0a0e;
  }

  @include respond-to(md) {
    width: auto;
  }
}

.btn-search {
  @extend %transitionAll;
  color: #3c3d41;
  font-weight: bold;
  padding: rem(20);

  &:hover {
    color: $cor-primaria;
  }
}

.midia {
  $self: &;
  // @extend %dFlexInline;
  margin: 0;
  display: none;
  justify-content: center;

  //position: relative;
  //right: 18px;
  @include respond-to(md) {
    position: inherit;
    display: inline-flex;
    right: 0;
  }

  @include e('link') {
    @extend %transitionAll;
    @include typography($size: 17, $color: #3c3d41);
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: rem(11);

    &:hover,
    &:focus {
      color: $white;
      background-color: $cor-primaria;
    }
  }

  @include m('cinza') {

    @include e('link', $self) {
      color: #7c7c7c;

      &:hover,
      &:focus {
        background-color: $t;
        color: $white;
      }
    }
  }
}


.area-cliente-box {
  @include view(xs);
  position: relative;
  float: left;
  width: 100%;
  background: #e21b39;
  height: 53px;

  .btn-area {
    margin-top: 0;
  }

  .form--login.is-active {
    left: 0;
    width: 100%;
    top: 53px;
    opacity: 1;
    z-index: 99;
  }
}