.infos-geral {
	$self: &;

	display: flex;
	align-items: stretch;
	justify-content: space-between;
    background: $white;    
    margin-top: -70px;
    position: relative;
    z-index: 9;

    @include e('item'){
		flex: 0 0 33.3333333%;

		@include m('resultado'){
			background-color: $cor-primaria;
			padding-right: rem(15);
			padding-bottom: 0;
			padding-left: rem(15);
			
			@include e('tit', $self) {
				color: $white;
				margin-bottom: rem(8);
			}
		}
    }

    @include e('flex'){
		display: flex;
		padding: rem(30);
    }
		
	@include e('icon'){
		padding: rem(28) rem(10) rem(15) 0;

		.icon {
			font-size: rem(25);
			font-weight: 500;
			color: $cor-secundaria;
		}
	}

	@include e('tag'){
		font-size: rem(15);
		font-weight: 400;		
		color: $cor-secundaria;
	}

    @include e('tit'){
		@include typography($bold: 700, $size: 24, $color: #787878);
		margin: 0;
		line-height: 1;
    }

    @include e('desc'){
    	p {
			@include typography($size: 14, $color: #868686);
		}
    }
	
	@include e('content'){
		width: 100%;
	}

    @include e('btn'){
		@include btn('small');		
    }
}