.infos-contato {
	@extend %dFlex;
	align-items: center;
	justify-content: space-between;

	.icon {
		font-size: rem(30);
		font-weight: 400;
		color: $cor-primaria;
		margin-right: rem(15);
	}

	@include e('tel'){
		@include centerFlex();
		margin-right: rem(20);

		strong { @include typography($size: 18, $color: #868686); }			
	}

	@include e('horario'){
		@include centerFlex();
		margin-right: rem(20);
	}

	@include e('como-chegar'){
		@include centerFlex();
	}

	// MODIFICADOR INFOS CONTATO
	
	@include m('cinza'){
		flex-direction: column;	
		
		.icon {
			color: #868686;
		}
	}
}