.#{$prefix}-menu {
	margin-left: auto;
	margin-right: 100px;
}


.menu-menu-principal-container {
    width: 100%;
}

.menu__nav {
    @extend %dFlexInline;
    justify-content: space-around;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include respond-to(sm) {
        flex-direction: inherit;
    }

    .menu-item {
        position: relative;

        &.hidden-small {
            display: inline-flex;

            @include respond-to(sm) {
                display: none;
            }

            @include respond-to(lg) {
                display: inline-flex;
            }
        }

        &:hover {

            .sub-menu {
                @include respond-to(md) {
                    z-index: 9999;
                    visibility: visible;
                    opacity: 1;
                    top: 90%;
                }
            }
        }

        a {
            @extend %dFlex;
            @extend %transitionAll;
            @include typography($bold: 500, $size: 15, $color: #808080, $txt-t: capitalize);
            padding: rem(30) rem(20);
            letter-spacing: rem(1.1);
          

            @include respond-to (sm) {
                font-size: rem(13);
                padding: rem(30) 0 rem(30) rem(15);
            }

            @include respond-to (md) {
                font-size: rem(15);
                // padding: rem(20) rem(15) $i;
            }

            // @include respond-to (lg){
            // 	font-size: rem(15);
            // 	padding: rem(30) rem(20);
            // }

            &:hover,
            &:focus,
            &:active {
                color: $cor-primaria;
            }
        }

        &.current-menu-item {
            a {
                color: $cor-primaria;
            }
        }
    }

    .sub-menu {
        @extend %transitionAll;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-width: 205px;
        background-color: $cor-primaria;
        color: $white;
        z-index: 9999;
        border-radius: 5px;
        z-index: 3;
        visibility: hidden;
        opacity: 0;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
            border-color: $t $t $cor-primaria $t;
        }

        li {
            color: rgba($white, .8) $i;

            &:first-child {
                a {
                    border-top: 0;
                }
            }

            &:hover {
                color: $white $i;
            }

            &.current-menu-item {
                color: $white $i;

                a {
                    background-color: darken($cor-primaria, 5%);
                }
            }

            a {
                color: inherit $i;
                display: block;
                padding-top: rem(15);
                padding-bottom: rem(15);
                text-align: center;
                overflow: hidden;
                font-size: rem(14);
                border-top: 1px solid rgba($white, .1);
                border-radius: 5px;

                &:hover,
                &:focus,
                &:active {
                    background-color: darken($cor-primaria, 5%);
                }
            }
        }
    }

    @include m('mobile') {
        display: block;

        @include respond-to(md) {
            display: none$i;
        }
    }

}