.newsletter {
	border-top: 4px solid $cor-primaria;
	background-color: #dadada;
	color: #4a4a4a;
	padding: rem(20) 0;

	@include e('flex'){
		flex-direction: column;
		
		@include respond-to(md){
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: inherit;
		}
	}

	@include e('tit-box'){
		display: flex;
		align-items: center;
		flex-basis: 30%;

		.icon {
			font-size: rem(30);
			padding-right: rem(20);
		}

	}
	@include e('tit'){
		@include typography($bold: 700, $size: 16, $color: #4a4a4a);
		letter-spacing: rem(.5);
		padding-right: rem(20);
	}
	
	@include e('form'){
		flex-basis: 70%;
		
		.wpcf7-form-control-wrap {
			&:not(:last-child){ 
				margin-right: rem(0);
				margin-bottom: rem(10);
				@include respond-to(md){
					margin-right: rem(15);
					margin-bottom: rem(	0);
				}
			}
		}
	
		span.ajax-loader {
			position: relative;
			@include size(16px);
			margin-left: -22px;
		    flex: none;
		    z-index: 9;
		}

		.form p {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			@include respond-to(md){
				flex-direction: row;	
			}
			margin-top: 0;

			.form__input {
				width: 100%;
				background-color: #fff;
				margin-top: 0;
				padding: rem(13) rem(18);
				display: block;				
			}

			.form__input--submit {
				@extend %transitionAll;
					width: 100%;
					background-color: $cor-primaria;
					color: $white;
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;	
					margin: 0;
					padding-right: rem(35);
					padding-left: rem(35);
				@include respond-to(md){
					width: auto;
				}
				

				&:hover {
					opacity: .9;
				}
			}
		}
		
	}
}
