.cards {
	@extend %d-table;
	overflow: hidden;
	display: block;
	position: relative;
	padding: rem(80) 0;

	@include e('flex'){
		flex-direction: column;

		@include respond-to(md){
			flex-direction: inherit;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}

	}

	@include e('news'){
		flex-direction: column;
		width: 100%;

		@include respond-to(sm){
			flex-direction: row;
			display: flex;
			align-items: stretch;
			justify-content: flex-start;
		}
	}
}

.card {
	width: 100%;
	position: relative;
	margin-left: rem(0);
	overflow: hidden;

	@include respond-to(sm){
		// max-width: 48%;
		margin-left: rem(30);

		&:first-child{
			margin-left: 0;
		}
	}

	@include respond-to(md){
		margin-left: rem(30);
		// max-width: 39%;

		&:first-child{
			margin-left: rem(30);
		}
	}

	@include respond-to(lg){
		max-width: 48%;
	}


	@include e('thumb'){
		position: relative;
		display: flex;
		margin-bottom: rem(20);
		flex-direction: column;
		height: 100%;
		
		@include mask(.3);

		@include respond-to(sm){
			margin-bottom: rem(0);
		}

		@include respond-to(md){
			flex-direction: inherit;
			margin-bottom: rem(0);
		}

		img {
			object-fit: cover;
			width: auto;
			height: 100%;
		}
	}

	@include e('infos'){
		text-align: center;
		z-index: 9;
		width: 90%;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include e('tit'){
		@include typography($bold: 900, $size: 31, $color: $white);
		letter-spacing: rem(1.2);
		line-height: 1.2;

		position: relative;
		margin: 0 0 rem(20);

		&:after {
			@extend %centerBlock;
			content: '';
			max-width: 80px;
			border-bottom: 2px solid $cor-primaria;
			margin-top: rem(20);
		}
	}

	@include e('btn'){
		@include btn('medium', $bg: $cor-primaria);
		padding-right: rem(40);
		padding-left: rem(40);
		letter-spacing: rem(.9);
		font-size: rem(13);
	}
}

.noticias {
	width: 100%;
	margin-bottom: rem(20);
	overflow: hidden;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;

	@include respond-to(md){
		width: calc(100%/3);		
		margin-bottom: rem(0);
	}

	@include e('header'){
		width: 100%;
		margin: 0 0 rem(40);
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-to(md){
			max-width: 33%;
		}
	}

	.tit-border {
		max-width: 80%;
	}
}

.noticia {
	$self: &;

	width: 99.99%;
	display: flex;
	flex-direction: column;

	@include e('thumb'){
		margin: 0;
		display: flex;
		background-color: rgba($black, .4);
		overflow: hidden;

		@include e('link', $self){
			height: 190px;
			position: relative;

			@include mask();

			&:before {
				@extend %transitionAll;
				opacity: 0;
			}

			&:hover {
				&:before { opacity: 1; }
				img { transform: scale(1.1); }
			}
		}

		img {
			@extend %transitionAll;
			@include size(100%);
			object-fit: cover;
		}
	}

	@include e('infos'){
		border: 1px solid #dadada;
		border-top: 0;
		padding: rem(30);

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	@include e('link'){
		@extend %transitionAll;
		display: flex;
		align-items: stretch;
		width: 100%;
	}

	@include e('tit'){
		@include typography($bold: 900, $size: 20, $color: $cor-primaria);
		margin: 0;

		@include e('link', $self){
			@extend %transitionAll;
			color: $cor-primaria;

			&:hover {
				color: darken($cor-primaria, 10%);
			}
		}
	}

	@include e('desc'){
		@extend %tit-p-default;
		margin: 0;
		min-height: 60px;
	}

	@include e('btn'){
		@include btn('small');
		align-self: flex-start;
	}
}

.box-setas { display: flex; }

.seta {
	$size: 12px;

	@extend %transitionAll;
	@include centerFlex();
	@include size(40px);

	&:before {
		@include size($size);
		@extend %transitionAll;
		content: '';
		border-right: 2px solid $cor-primaria;
		border-bottom: 2px solid $cor-primaria;
	}

	&:hover {
		border-color: $cor-primaria;
		background-color: $cor-primaria;

		&:before {
			border-color: $white;
		}
	}

	@include m('left'){
		&:before {
			transform: rotate(135deg);
			margin-right: -($size/2);
		}
	}

	@include m('right'){
		&:before {
			transform: rotate(-45deg);
			margin-left: -($size/2);
		}
	}
}

.relacionados {
	@extend %boxFull;
}

.ultimos-artigos {
	@extend %boxFull;
    border-top: 2px solid rgba($cor-primaria, .5);
    border-bottom: 2px solid rgba($cor-primaria, .5);
    padding: 1.25rem;
    background: #f3f3f3;
    margin: 1.875rem 0;

	h3 {
		color: $cor-primaria;
		font-size: rem(28);
		font-weight: 500;
		margin: rem(20) 0;
		text-align: center;
	}

	@include e('itens') {
    	border-bottom: 1px solid #ccc;
    	text-align: center;
    	// margin-bottom: rem(15);
    	// padding: rem(8) 0 rem(20);

    	&:last-child {
			border-bottom: 0;
    	}
	}

	.info {
		margin: 0;
		text-align: left;
		padding: 10px;

		a {
			color: #929292;
			font-weight: 500;
			transition: all .2s ease-in-out;
			font-size: 1rem;

			&:focus, 
			&:hover {
				color: #ff7e00;
				text-decoration: underline;
			}
		}
	}
}