.perguntas {
	display: table;
	width: 100%;
	padding: rem(80) 0;

	@include e('flex'){
		display: flex;
	}

	@include e('col'){
		width: 100%;
		margin-left: rem(60);
	}

	@include e('headline'){
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: rem(10) 0;
	}
	
	@include e('subtit'){
		@include typography($size: 14);
		color: $cor-secundaria;
		border-left: 2px solid $cor-secundaria;
		padding-left: rem(8);
	}

	@include e('tit'){
		@include typography($bold: 700, $size: 28, $color: #4f4f4f);
		line-height: 1;
		letter-spacing: rem(-1.9);
		margin: 0;
		max-width: 377px;
	}

	@include e('btn'){
		@include btn('small');
		text-align: center;
	}
}