.pesquisa {
	position: relative;

	@include e('thumb'){ 
		margin: 0;
		background-color: rgba($black, .6);

		img {
			display: flex;
		}
	}
	@include e('infos'){
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		text-align: center;
		color: $white;
	}

	@include e('tit'){
		@include typography($bold: 700, $size: 36, $color: $white);
		margin: 0;
	}

	@include e('desc'){
		@extend %tit-p-default;		
		color: $white;
		margin: rem(15) 0;
	}

	@include e('btn'){
		@include btn('medium');
	}
}