.servicos-dif {
	display: table;
	width: 100%;
	margin: rem(20) 0;

	@include e('header'){
		@extend %dFlex;
		justify-content: space-between;
		margin: rem(60) 0;
	}
}

.owl-serv-dif {
	.owl-controls {
		margin-top: rem(40);
	}
}

// SERVICOS
.servico {
	@extend %dFlex;
	align-items: stretch;

	@include e('thumb'){
		flex: 0 0 245px;
		margin: 0;
		background-color: rgba($black, .4);
	}

	// @include e('img'){}
	
	@include e('infos'){
		@extend %dFlex;
		@include fd();
		justify-content: space-between;
		padding: 0 rem(35);
	}

	@include e('tit'){
		@extend %tit-serv-dif;
	}

	@include e('desc'){
		@extend %tit-p-default;
	}

	@include e('btn'){		
		@include btn('small');
		margin-top: rem(10);
		align-self: flex-start;
	}
}

.box-setas {
	@extend %dFlex;	
}

.seta {
	$size: 15px;
	@include centerFlex();
	@include size(53px);
	@extend %transitionAll;
	background-color: $white;
	border: 1px solid #dadada;

	&:not(:last-child){
		margin-right: ($size/2);
	}

	&:before {
		@include size($size);
		@extend %transitionAll;
		content: '';
		border-right: 2px solid $cor-secundaria;
		border-bottom: 2px solid $cor-secundaria;
		display: block;
	}
	
	&:hover {
		border-color: $cor-secundaria;
		background-color: $cor-secundaria;

		&:before {
			border-color: $white;
		}
	}

	@include m('left'){
		&:before {
			transform: rotate(135deg);
			margin-right: -($size/2);
		}
	}

	@include m('right'){
		&:before {
			transform: rotate(-45deg);
			margin-left: -($size/2);
		}
	}
}