.slides {
	$minHeight: 550px;
	$tPassador: 30px;
	$wBorder: 3px;

	@include e('box') {
		position: relative;
		// min-height: $minHeight;
		max-height: 550px;
		// max-height: 680px;
	}

	@include e('thumb') {
		@include size(100%, $minHeight);
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;

		&:before {
			content: "";
			background-image: var(--bgImg);
			width: calc(100% + 30px);
			height: calc(100% + 30px);
			position: absolute;
			-webkit-filter: blur(10px);
			filter: blur(10px);
			top: -15px;
			left: -15px;
			background-size: cover;
			background-position: 50%;
			z-index: -1;
		}

		img {
			@include size(1920px, $minHeight $i);
			object-fit: cover;
			max-width: 1920px;
			margin: 0 auto;
		}

		&:after {
			@include size(100%);
			content: '';
			background: rgba($black, .25);
			position: absolute;
			top: 0;
			right: 0;
			z-index: 5;
		}
	}

	@include e('infos') {
		height: $minHeight;

		.container {
			position: relative;
			height: 100%;
		}
	}

	@include e('bloco') {
		position: relative !important;
		height: 100%;
		z-index: 99999 !important;
		bottom: 120px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: flex-end;
		padding-bottom: 60px;

		@include respond-to(sm) {
			width: 50%;
		}

		@include m('center') {

			width: 100%;
			align-items: center;


			.slides__desc {
				text-align: center;
			}
		}


		@include m('right') {


			align-items: flex-end;
			margin-left: auto;



			.slides__titulo {
				text-align: right;

				&:after {
					margin-left: auto !important;
					margin-right: 0;
				}
			}

			.slides__desc {
				text-align: right;
			}
		}

	}

	@include e('titulo') {
		@extend %tit-slide-big;

		&:after {
			margin-left: 0 !important;
		}

		@include m('sub') {
			color: $cor-primaria;
		}

		@include m('small') {
			font-size: rem(16) !important;
			font-weight: 500;
			padding-bottom: rem(0);

			&:after {
				display: none;
			}
		}
	}

	@include e('desc') {
		@extend %centerBlock;
		color: $white;
		font-size: rem(16);
		font-weight: 300;
		width: 100%;
		margin-bottom: rem(0);

		p {
			@extend %dFlexInline;
			margin: rem(20) rem(0);
			letter-spacing: rem(1.2);
			text-align: left !important;

			@include respond-to(sm) {}
		}
	}

	@include e('btn') {
		background-color: #b93027 !important;
		border: 2px solid #b93027 !important;
		padding: rem(15) rem(20) !important;
		@include btn-t();

		&:hover {
			color: #efefef;
		}
	}

	.owl-item.active {
		.slides {
			&__thumb {
				img {
					animation: zoomBg 15s ease-out -15s infinite alternate forwards;
				}
			}

			&__titulo {
				animation: fadeInUp .9s ease-in-out .6s forwards;
			}

			&__desc {
				animation: fadeInUp .9s ease-in-out .7s forwards;
			}

			&__btn {
				animation: fadeInUp .9s ease-in-out .8s forwards;
			}
		}
	}

	@include setaOwl($t: true);

	.owl-dots {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 5%;
		text-align: center;

		.owl-dot {
			@include size(13px);
			border: 0;
			background-color: rgba($white, .5);

			&.active {
				border: 0;
				background-color: $white;
			}
		}
	}
}

// ANIMAÇÕES
@-webkit-keyframes zoomBg {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.05);
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}